<h4 class="account-menu__heading">Můj účet</h4>
<form class="account-menu__form" action="">
    <div class="form-floating">
        <input id="account-password" class="form-control account-menu__input" type="email" placeholder="E-mail">
        <label class="form-label" for="account-password">E-mail</label>
    </div>
    <div class="form-floating">
        <input id="account-email" class="form-control account-menu__input" type="password" placeholder="Heslo">
        <label class="form-label" for="account-email">Heslo</label>
    </div>
    <button type="submit" class="btn btn-primary account-menu__login">Přihlásit se</button>
</form>
<div class="account-menu__lost">
    <a class="account-menu__lost-link" href="#">Zapomenuté heslo?</a>
</div>