<h4 class="account-menu__heading">Můj účet</h4>
<ul class="account-menu__list">
    <li class="account-menu__item"><a class="account-menu__link" href="#"><i class="las la-list-alt account-menu__icon"></i>Seznam objednávek</a></li>
    <li class="account-menu__item"><a class="account-menu__link" href="#"><i class="las la-user-cog account-menu__icon"></i>Úprava zákaznického účtu</a></li>
</ul>
<button type="submit" class="btn btn-outline-primary account-menu__logout">Odhlásit se</button>

