<!-- Komentare -->
<section class="comments" id="comments">
  <h4>Komentáře</h4>

  {# <div class="no-comment-yet">
    Nikdo zatím žádný komentář nepřidal. Buďte první!
  </div> #}

  <ol class="comment-list">
    <li class="comment-wrapper">
        <article class="comment">
            <div class="comment__date">27. 7. 2021</div>
            <div class="comment__name">Pepa</div>
            <div class="comment__body">
                <p>Proin consectetur ex sed pharetra lobortis. Donec suscipit rhoncus nulla, sed sodales arcu tristique quis. Nullam sed imperdiet neque. Curabitur iaculis magna quis odio gravida, ornare commodo odio aliquam. Proin enim nulla, imperdiet ac felis vel, blandit viverra purus.</p>
            </div>
            <div class="comment__buttons">
              <button class="comment__hide" type="button" data-hide="Skrýt odpovědi" data-show="Zobrazit odpovědi">Skrýt odpovědi</button>
              <button class="comment__reply" type="button">Odpovědět</button>
            </div>
        </article>
        <ul class="comment-sublist">
            <li class="comment-wrapper">
                <article class="comment">
                    <div class="comment__date">28. 7. 2021</div>
                    <div class="comment__name">Franta</div>
                    <div class="comment__body">
                        <p>Donec suscipit rhoncus nulla, sed sodales arcu tristique quis. Nullam sed imperdiet neque. Curabitur iaculis magna quis odio gravida, ornare commodo odio aliquam.</p>
                    </div>
                    <div class="comment__buttons">
                      <button class="comment__reply" type="button">Odpovědět</button>
                    </div>
                </article>
            </li>
        </ul>
    </li>
    <li class="comment-wrapper">
        <article class="comment">
            <div class="comment__date">28. 7. 2021</div>
            <div class="comment__name">Mirka</div>
            <div class="comment__body">
                <p>Donec suscipit rhoncus nulla, sed sodales arcu tristique quis. Nullam sed imperdiet neque.</p>
            </div>
            <div class="comment__buttons">
              <button class="comment__reply" type="button">Odpovědět</button>
            </div>
        </article>
    </li>
  </ol>

  <div class="add-comment" id="add-comment">
    <h5>Přidat komentář</h5>
    <div class="add-comment__citation" id="comment-citation" style="display: none;"></div>
    <textarea class="add-comment__input add-comment__input--text" rows="1" placeholder="Váš komentář" required></textarea>
    <div class="add-comment__wrapper">
      <input class="add-comment__input add-comment__input--name" type="text" placeholder="Jméno (nepovinné)">
      <input class="add-comment__input add-comment__input--email" type="email" placeholder="E-mail (nepovinné)">

      {# Captcha - kod #}
      <div class="add-comment__captcha-wrap">
        <img class="add-comment__captcha-img" src="{{ assets_url }}/captcha.png" id="captcha-img" width="160" height="40" alt="Kontrolní kód CAPTCHA">
        <input class="add-comment__input add-comment__input--code" type="number" name="captcha_id" min="10000" max="99999" placeholder="Kontrolní kód" required>
      </div>

      {# reCaptcha - checkbox #}
      {# <div class="g-recaptcha">
        <div style="width: 304px; height: 78px; display: flex; justify-content: center; align-items: center; background-color: #e9e9e9; border-radius: 3px; color: #aaa;">reCaptcha placeholder</div>
      </div> #}

      {# Otazka + odpoved #}
      {# <input class="add-comment__input" id="form-control-question" type="text" placeholder="2 + 3 =" required> #}

      <button class="add-comment__button add-comment__button--submit" type="submit">Odeslat</button>
      <button class="add-comment__button add-comment__button--close" type="button">Zavřít</button>
    </div>
  </div>

</section>