{# <div class="cookies" id="cookies" style="display: none;">
    <i class="cookies__icon las la-cookie-bite"></i>
    <p class="cookies__p">
        Za účelem lepšího přizpůsobení stránek pro uživatele nám pomáhají soubory cookies. Používáním těchto stránek s tím souhlasíte.
        <a class="cookies__link" href="#" target="_blank">Více informací</a>
    </p>
    <button class="cookies__button" id="close-cookies" type="button">OK</button>
</div> #}



<div class="modal show" id="cookiesModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="cookiesModalLabel" style="display: none;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-cookies overlay">
        <div class="modal-content">
            <div class="modal-header">
              <!-- <div class="container-fluid"> -->
                <h2 class="modal-title" id="cookiesModalLabel">Nastavení cookies</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeWindowButton" style="display: none">
                  <span class="button-close" aria-hidden="true"></span>
                </button>
              <!-- </div> -->
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="mainWindow" style="">
                    <p class="cookies-text">Kliknutím na Přijmout cookies budou uloženy cookies funkční, výkonnostní, analytické i marketingové - dokážeme vám tak umožnit pohodlné používání webu, měřit funkčnost našeho webu i vás cílit reklamou. Své preference můžete snadno upravit kliknutím na Nastavení cookies.</p>
                </div>
                <div class="container-fluid" id="settingsWindow" style="display: none;">
                    <p class="cookies-text">Využíváme soubory cookies, a další technologie pro lepší uživatelský zážitek na webu. Existuje několik druhů souborů cookies, které využíváme ke sběru dat. Kliknutím na přijmout vše udělujete souhlas využívat všechny typy těchto souborů pomocí kterých můžeme naplno využívat nástroje pro personalizaci nabídky služeb.</p>
                    <div class="cookies-info">
                      <div class="cookies-option">
                        <button class="button-more">
                          <span class="button-more-icon"></span>
                          <span class="button-more-title" for="necessaryCheckbox">Nutné</span>
                        </button>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" name="necessaryCheckbox" id="necessaryCheckbox" value="1" checked="" disabled="">
                          <label class="custom-control-label" for="necessaryCheckbox">Povoleno</label>
                        </div>
                      </div>
                      <div class="cookies-details" style="display: none;">
                        <p>Tyto cookies jsou nezbytné pro zajištění základní funkčnosti webových stránek a nelze bez nich realizovat požadovanou funkcionalitu (např. správné zobrazení stránky, session id, nastavení souhlasů).</p>
                      </div>
                    </div>
                    <div class="cookies-info">
                      <div class="cookies-option">
                        <button class="button-more">
                          <span class="button-more-icon"></span>
                          <span class="button-more-title" for="functionalCheckbox">Preferenční</span>
                        </button>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" name="functionalCheckbox" id="functionalCheckbox" value="1">
                          <label class="custom-control-label" for="functionalCheckbox">
                            <span class="label-off">Zakázáno</span>
                            <span class="label-on">Povoleno</span>
                          </label>
                        </div>
                      </div>
                      <div class="cookies-details" style="display: none;">
                        <p>Trvalé cookies používáme pro zapamatování vašeho nastavení preferencí pro příští návštěvu našeho webu a umožňují zapamatování vašich předvoleb (např. uživatelské jméno, jazyk).</p>
                      </div>
                    </div>
                    <div class="cookies-info">
                      <div class="cookies-option">
                        <button class="button-more">
                          <span class="button-more-icon"></span>
                          <span class="button-more-title" for="performanceCheckbox">Statistické</span>
                        </button>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" name="performanceCheckbox" id="performanceCheckbox" value="1">
                          <label class="custom-control-label" for="performanceCheckbox">
                            <span class="label-off">Zakázáno</span>
                            <span class="label-on">Povoleno</span>
                          </label>
                        </div>
                      </div>
                      <div class="cookies-details" style="display: none;">
                        <p>Výkonnostní cookies shromažďují anonymní informace o navštívených stránkách a o způsobu využití webu. Tyto cookies slouží ke zlepšení fungování webových stránek a umožňují nám zejména provádět relevantní úpravy za účelem lepší zákaznické zkušenosti.</p>
                      </div>
                    </div>
                    <div class="cookies-info">
                      <div class="cookies-option">
                        <button class="button-more">
                          <span class="button-more-icon"></span>
                          <span class="button-more-title" for="marketingCheckbox">Marketingové</span>
                        </button>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" name="marketingCheckbox" id="marketingCheckbox" value="1">
                          <label class="custom-control-label" for="marketingCheckbox">
                            <span class="label-off">Zakázáno</span>
                            <span class="label-on">Povoleno</span>
                          </label>
                        </div>
                      </div>
                      <div class="cookies-details" style="display: none;">
                        <p>Reklamní cookies se využívají k zobrazování cílené reklamy. Bez těchto cookies se vám reklamy budou nadále zobrazovat (počet zobrazení reklam nebude nižší), budou však pro vás méně relevantní.</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="allowChoiceButton" class="btn btn-outline-secondary" style="display: none;">Uložit vybrané</button>
                <button type="button" id="switchWindowButton" class="btn btn-outline-secondary" style="">Upravit nastavení</button>
                <button type="button" id="allowCookiesButton" class="btn btn-primary">Přijmout cookies</button>
                <button type="button" id="allowAllButton" class="btn btn-primary" style="display: none;">Přijmout vše</button>
            </div>
        </div>
    </div>
</div>

<div class="cookies-settings-btn" id="cookiesButton">
  <button class="cookies-settings-btn__open" id="openWindowButton" aria-label="Open cookies settings">
    <span class="cookies-settings-btn__open-label">Nastavení cookies</span>
  </button>

  <button class="cookies-settings-btn__dismiss" type="button" aria-label="Close">
    <span class="cookies-settings-btn__dismiss-icon" aria-hidden="true"></span>
  </button>
</div>