<div class="footer__copy">

    <span class="footer__copy-text">
        ©&nbsp;2022 <a href="/">Zoner software, a.s.</a>
    </span>

    <span class="footer__cookies">
        <a href="" class="openModalButton">Nastavení cookies</a>
    </span>

    <span class="footer__poweredby">
        Běží na <a href="https://www.inpage.cz/" target="_blank">inPage</a>
    </span>
    
</div>
