<div class="row">
    <div class="col-md-6 col-lg-3 footer__col footer__col--address">
        <h4 class="footer__heading">Adresa</h4>
        <ul class="footer__list footer__list--address">
            <li><i class="footer__icon las la-home"></i>ZONER software, a.s.</li>
            <li><i class="footer__icon las la-map-marker"></i>Nové sady 583/18, 602 00 Brno</li>

            {# skype:   <i class="lab la-skype"></i>
            icq:     <i class="las la-sms"></i>
            fax:     <i class="las la-fax"></i>
            telefon: <i class="las la-phone"></i>
            mail:    <i class="las la-envelope"></i>
            web:     <i class="las la-globe"></i> #}
        </ul>
    </div>
    <div class="col-md-6 col-lg-3 footer__col footer__col--contact">
        <h4 class="footer__heading">Kontakt</h4>
        <ul class="footer__list footer__list--contact">
            <li><i class="footer__icon las la-envelope"></i>info@spolecnost.cz</li>
            <li><i class="footer__icon las la-phone"></i>+420 123 456 789</li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-3 footer__col footer__col--custom">
        {# = Vlastni blok? Nebo pridat nove pole do kontaktu v adminu? TO DO #}
        <h4 class="footer__heading">Otevírací doba</h4>
        <ul class="footer__list footer__list--custom">
            <li>Po – Pá: 9.00 – 18.00</li>
            <li>So – Ne: 9.00 – 12.00</li>
        </ul>
    </div> 
    <div class="col-md-6 col-lg-3 footer__col footer__col--social">
        <h4 class="footer__heading">Sledujte nás</h4>
        <ul class="footer__list footer__list--social">
            <li class="footer__social-item"><a class="footer__social-link" href="#" target="_blank" aria-label="Facebook"><i class="footer__social-icon footer__social-icon--fb lab la-facebook-f"></i></a></li>
            <li class="footer__social-item"><a class="footer__social-link" href="#" target="_blank" aria-label="Instagram"><i class="footer__social-icon footer__social-icon--ig lab la-instagram"></i></a></li>
            <li class="footer__social-item"><a class="footer__social-link" href="#" target="_blank" aria-label="Twitter"><i class="footer__social-icon footer__social-icon--tw lab la-twitter"></i></a></li>
            <li class="footer__social-item"><a class="footer__social-link" href="#" target="_blank" aria-label="Youtube"><i class="footer__social-icon footer__social-icon--yt lab la-youtube"></i></a></li>
            <li class="footer__social-item"><a class="footer__social-link" href="#" target="_blank" aria-label="Tripadvisor"><i class="footer__social-icon footer__social-icon--ta lab la-tripadvisor"></i></a></li>
        </ul>
    </div>
</div>

{# Copyright #}
<div class="footer__copy">
    <span class="footer__copy-text">&copy;&nbsp; {{ 'now' | date('Y') }} Template 21</span>
</div>
