<!-- Formular -->
<form class="user-form">
    <!-- Required fields info -->
    <div class="user-form__info-required">Pole s hvězdičkou <span class="user-form__info-required-asterisk">*</span> jsou povinná.</div>
    <!-- Text input -->
    <div class="user-form__field required">
        <label class="user-form__label" for="formName">Jméno</label>
        <input class="user-form__input" id="formName" type="text" required>
    </div>
    <!-- Email input (required) -->
    <div class="user-form__field required">
        <label class="user-form__label" for="formEmail">Email</label>
        <input class="user-form__input" id="formEmail" type="email" required>
    </div>
    <!-- Textarea -->
    <div class="user-form__field required">
        <label class="user-form__label" for="formMessage">Zpráva</label>
        <textarea class="user-form__input" id="formMessage" name="form-message" rows="4" required></textarea>
    </div>
    <!-- Privacy info + Checkbox -->
    <div class="user-form__checkbox">
        <input class="user-form__checkbox-input" type="checkbox" value="" id="formCheckbox">
        <label class="user-form__checkbox-label" for="formCheckbox">
            Odesláním formuláře souhlasím se zpracováním osobních údajů zadaných do formuláře za účelem reakce provozovatele webu na odeslanou zprávu.
        </label>
        <a class="user-form__privacy-link" href="#" target="_blank">Zásady ochrany osobních údajů</a>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary user-form__submit">Odeslat</button>
</form>