<div class="form-row__text" style="color: #fff;">
    <h2>Neváhejte nás kontaktovat</h2>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec vitae arcu.</p>
    <p>Etiam bibendum elit eget erat. Donec vitae arcu. Integer pellentesque quam vel velit. Nunc tincidunt ante vitae massa. In rutrum. Nullam rhoncus aliquam metus. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui.</p>
</div>