<div class="minicart__empty" style="display: none;">
    <i class="las la-meh minicart__empty-icon"></i>
    <div class="minicart__empty-text">Nemáte žádné zboží v košíku.</div>
</div>

<div class="minicart__item">
    <div class="minicart__item-img-wrapper">
        <a class="minicart__item-img-link" href="#">
            <img class="minicart__item-img" src="{{ assets_url }}/products/fotokniha.jpg" alt="">
        </a>
    </div>
    <div class="minicart__item-info">
        <div class="minicart__item-title">
            <a class="minicart__item-link" href="#">Fotokniha</a>
        </div>
        <div class="minicart__item-options">
            <div class="minicart__item-price">349 Kč</div>
            <div class="minicart__item-qty">
                <form class="qty-form">
                    <button class="qty-form__button qty-form__button--decrease" type="button" value="Decrease Value">
                        <i class="las la-minus qty-form__button-icon qty-form__button-icon--minus"></i>
                    </button>
                    <input class="qty-form__input" type="number" value="1" min="1" />
                    <button class="qty-form__button qty-form__button--increase" type="button" value="Increase Value">
                        <i class="las la-plus qty-form__button-icon qty-form__button-icon--plus"></i>
                    </button>
                </form>
            </div>
            <button class="minicart__item-cancel" type="button">
                <i class="las la-times minicart__item-cancel-icon"></i>
            </button>
        </div>
    </div>
</div>

<div class="minicart__item">
    <div class="minicart__item-img-wrapper">
        <a class="minicart__item-img-link" href="#">
            <img class="minicart__item-img" src="{{ assets_url }}/products/canon-lens.jpg" alt="">
        </a>
    </div>
    <div class="minicart__item-info">
        <div class="minicart__item-title">
            <a class="minicart__item-link" href="#">Cannon EF 50mm f/1.4 USM</a>
        </div>
        <div class="minicart__item-options">
            <div class="minicart__item-price">9 990 Kč</div>
            <div class="minicart__item-qty">
                <form class="qty-form">
                    <button class="qty-form__button qty-form__button--decrease" type="button" value="Decrease Value">
                        <i class="las la-minus qty-form__button-icon qty-form__button-icon--minus"></i>
                    </button>
                    <input class="qty-form__input" type="number" value="1" min="1" />
                    <button class="qty-form__button qty-form__button--increase" type="button" value="Increase Value">
                        <i class="las la-plus qty-form__button-icon qty-form__button-icon--plus"></i>
                    </button>
                </form>
            </div>
            <button class="minicart__item-cancel" type="button">
                <i class="las la-times minicart__item-cancel-icon"></i>
            </button>
        </div>
    </div>
</div>

<div class="minicart__checkout">
    <div class="minicart__sum">
        <div class="minicart__sum-label">Celkem</div>
        <div class="minicart__sum-price">10 339 Kč</div>
    </div>
    <div class="minicart__buttons">
        <button class="minicart__button-close" type="button">Pokračovat v nákupu</button>
        <a class="minicart__button-cart" href="{{ base_url }}/kosik">Přejít do košíku</a>
    </div>
</div>
