<div class="row">
    <div class="col-md-6 col-lg-3 section-content">
        <h4>Adresa</h4>
        <ul>
            <li><i class="footer__icon las la-home"></i>ZONER software, a.s.</li>
            <li><i class="footer__icon las la-map-marker"></i>Nové sady 583/18, 602 00 Brno</li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-3 section-content">
        <h4>Kontakt</h4>
        <ul>
            <li><i class="footer__icon las la-envelope"></i>info@spolecnost.cz</li>
            <li><i class="footer__icon las la-phone"></i>+420 123 456 789</li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-3 section-content">
        <h4>Otevírací doba</h4>
        <ul>
            <li>Po – Pá: 9.00 – 18.00</li>
            <li>So – Ne: 9.00 – 12.00</li>
        </ul>
    </div> 
    <div class="col-md-6 col-lg-3 section-content">
        <h4>Sledujte nás</h4>
        <div class="section-cell-parent social-list">
            <a class="section-cell-item social-link social-fb" href="#" target="_blank" aria-label="Facebook">
                <i class="social-icon lab la-facebook-f"></i>
            </a>
            <a class="section-cell-item social-link social-instagram" href="#" target="_blank" aria-label="Instagram">
                <i class="social-icon lab la-instagram"></i>
            </a>
            <a class="section-cell-item social-link social-tw" href="#" target="_blank" aria-label="Twitter">
                <i class="social-icon lab la-twitter"></i>
            </a>
            <a class="section-cell-item social-link social-youtube" href="#" target="_blank" aria-label="Youtube">
                <i class="social-icon lab la-youtube"></i>
            </a>
            <a class="section-cell-item social-link social-tripadvisor" href="#" target="_blank" aria-label="Tripadvisor">
                <i class="social-icon lab la-tripadvisor"></i>
            </a>
        </div>
    </div>
</div>
