  <div class="splide splide--2-cols" id="splide-125" data-splide='{
    "type":"fade",
    "rewind":true,
    "autoplay":false,
    "interval":"5000",
    "speed":"1500",
    "pauseOnHover":false,
    "pauseOnFocus":false,
    "cover":true
    }'>
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide" style="background-color: #f4f0f7;">
          <!-- <img src="../assets/gallery/helena-lopes-Vrb_vtQAxJU-unsplash.jpg"> -->
          <div class="row">
            <div class="col-text col-lg-5">
              <h2>Cras pede libero</h2>
              <p>Váš text začíná právě zde. Klikněte a můžete začít psát. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
            </div>
            <div class="col-img col-lg-6 offset-lg-1">
              <!-- <img src="https://i.picsum.photos/id/910/800/1200.jpg?hmac=HITI4rmjyCld7qWyyFAY4rncyJolCE6u-x1s_tkMv54" alt=""> -->
              <img src="https://i.picsum.photos/id/943/1200/800.jpg?hmac=6X0P6joo1Ry4rQxvjedCRzI7rN4p-rvQGu8wdnHagsw" alt="">
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <img src="{{ assets_url }}/gallery/lacey-williams-Dn2a3zNieEE-unsplash.jpg">
          <div class="row">
            <div class="col-text col-lg-5">
              <h2>Cras pede libero</h2>
              <p>Váš text začíná právě zde. Klikněte a můžete začít psát. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
            </div>
            <div class="col-img col-lg-6 offset-lg-1">
              <img src="https://i.picsum.photos/id/943/1200/800.jpg?hmac=6X0P6joo1Ry4rQxvjedCRzI7rN4p-rvQGu8wdnHagsw" alt="">
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <img src="{{ assets_url }}/gallery/romain-gille-OsZ2wrM_Ue0-unsplash.jpg">
          <div class="row">
            <div class="col-text col-lg-5">
              <h2>Cras pede libero</h2>
              <p>Váš text začíná právě zde. Klikněte a můžete začít psát. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem.</p>
            </div>
            <div class="col-img col-lg-6 offset-lg-1">
              <!-- <img src="https://i.picsum.photos/id/943/1200/800.jpg?hmac=6X0P6joo1Ry4rQxvjedCRzI7rN4p-rvQGu8wdnHagsw" alt=""> -->
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

<script>
	new Splide('#splide-125').mount();
</script>