{% extends "base.twig" %}

{% block content %}
    {% if meta.top_products %}
        <div class="container container--top-products">
            <h2 class="top-products__title">Top produkty</h2>
            {% include 'partials/product-list-featured.twig' %}
        </div>
    {% endif %}

    <div class="container container--article font-size-fluid">
        {{ content }}
    </div>

    {% if meta.gallery %}
        <div class="container container--gallery">
            {% include 'partials/gallery.twig' %}
        </div>
    {% endif %}

    {% if meta.form %}
        <div class="container container--form">
            {% include 'partials/form.twig' %}
        </div>
    {% endif %}

    {% if meta.show_comments %}
        <div class="container container--comments">
            {% include 'partials/comments.twig' %}
        </div>
    {% endif %}

{% endblock %}
