{% extends "base.twig" %}

{% block content %}
    <div class="container container--files">
        <section class="section section--header">
            <h1>Název složky</h1>
        </section>

        <div class="perex">
            {# <div class="perex__image-wrapper">
                <img class="perex__image" src="https://i.picsum.photos/id/473/500/500.jpg?hmac=P__oi_XX4pWMJPlt1IJOqvsPEG7FT4-xQ6Msu55c2io" alt="">
            </div> #}
            <div class="perex__text-wrapper">
                <p class="perex__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nesciunt voluptatibus, doloremque et cumque placeat tenetur nisi dignissimos excepturi nobis odit architecto velit. Ratione a itaque sunt, natus dolor sint!</p>
            </div>
        </div>

        {# Folders #}
        <div class="row categories categories--root">
            <div class="category-wrapper">
                <article class="category">
                    <a class="category__thumbnail" href="/slozka/ccc/?type=grid">
                        <div class="category__img-wrapper">
                            <i class="category__icon category__icon--blank las la-folder-open"></i>
                        </div>
                    </a>

                    <h3 class="category__title">
                        <a class="category__title-link" href="/slozka/ccc/">Lorem ipsum</a>
                    </h3>

                    {# <div class="category__details">
                        <span class="category__date">2. 3. 2021</span>
                        <span class="category__photos"></span>
                        <span class="category__photos-icon"><i class="las la-image"></i></span>
                        <span class="category__photos-label">Soubory:</span>
                        <span class="category__photos-title">1</span>
                    </div> #}
                </article>
            </div>
        </div>

        {# Toggle view #}
        <div class="files-toggler" id="files-switcher">
            <div class="files-toggler__wrapper">
                <span class="files-toggler__label">Zobrazení:</span>
                <span class="files-toggler__value active">
                    dlaždice
                </span>
                <span class="files-toggler__value">
                    <a class="files-toggler__link" href="#files-switcher">
                        tabulka
                    </a>
                </span>
            </div>
        </div>

        {# List of files #}
        <div class="row files">

                <div class="file-item-wrapper">
                    <div class="file-item">

                        <div class="file-item__header">
                            <i class="file-item__icon las la-file"></i>
                            <h3 class="file-item__title">
                                <a class="file-item__title-link" href="">Certifikat</a>
                            </h3>
                        </div>

                        <div class="file-item__details">
                            <div class="file-item__detail">
                                <span class="file-item__label">Upraveno</span>
                                <span class="file-item__data">31. 8. 2018</span>
                            </div>

                            <div class="file-item__detail">
                                <span class="file-item__label">Typ</span>
                                <span class="file-item__data">PDF</span>
                            </div>

                            <div class="file-item__detail">
                                <span class="file-item__label">Velikost</span>
                                <span class="file-item__data">3,44 MB</span>
                            </div>

                            <div class="file-item__detail">
                                <span class="file-item__label">Počet stažení</span>
                                <span class="file-item__data">0</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="file-item-wrapper">
                    <div class="file-item">

                        <div class="file-item__header">
                            <i class="file-item__icon las la-file"></i>
                            <h3 class="file-item__title">
                                <a class="file-item__title-link" href="">Certifikat</a>
                            </h3>
                        </div>

                        <div class="file-item__details">
                            <div class="file-item__detail">
                                <span class="file-item__label">Upraveno</span>
                                <span class="file-item__data">31. 8. 2018</span>
                            </div>

                            <div class="file-item__detail">
                                <span class="file-item__label">Typ</span>
                                <span class="file-item__data">PDF</span>
                            </div>

                            <div class="file-item__detail">
                                <span class="file-item__label">Velikost</span>
                                <span class="file-item__data">3,44 MB</span>
                            </div>

                            <div class="file-item__detail">
                                <span class="file-item__label">Počet stažení</span>
                                <span class="file-item__data">0</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="file-item-wrapper">
                    <div class="file-item">

                        <div class="file-item__header">
                            <i class="file-item__icon las la-file"></i>
                            <h3 class="file-item__title">
                                <a class="file-item__title-link" href="">Certifikat</a>
                            </h3>
                        </div>

                        <div class="file-item__details">
                            <div class="file-item__detail">
                                <span class="file-item__label">Upraveno</span>
                                <span class="file-item__data">31. 8. 2018</span>
                            </div>

                            <div class="file-item__detail">
                                <span class="file-item__label">Typ</span>
                                <span class="file-item__data">PDF</span>
                            </div>

                            <div class="file-item__detail">
                                <span class="file-item__label">Velikost</span>
                                <span class="file-item__data">3,44 MB</span>
                            </div>

                            <div class="file-item__detail">
                                <span class="file-item__label">Počet stažení</span>
                                <span class="file-item__data">0</span>
                            </div>
                        </div>

                    </div>
                </div>


        {# List of files #}
        <section class="section">
            <div class="table-responsive">
                <table class="table table-striped table-collapse table-files" id="table-downloads">
                    <thead>
                        <tr>
                            <th>Název</th>
                            <th>Upraveno</th>
                            <th>Typ</th>
                            <th>Velikost</th>
                            <th>Počet stažení</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <i class="table-files__file-icon las la-file-invoice" title="Dokument TXT"></i>
                                <a class="table-files__file-link" href="#" title="Stáhnout">Analytics</a>
                            </td>
                            <td data-th="Upraveno">
                                <span class="table-files__file-date">31. 10. 2018</span>
                            </td>
                            <td data-th="Typ">
                                <span class="table-files__file-type">TXT</span>
                            </td>
                            <td data-th="Velikost">
                                <span class="table-files__file-size">34 B</span>
                            </td>
                            <td data-th="Počet stažení">
                                <span class="table-files__file-downloads"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="table-files__file-icon las la-music" title="Audio OGG"></i>
                                <a class="table-files__file-link" href="#" title="Stáhnout">Dmitri_Shostakovich_-_Waltz_No</a>
                            </td>
                            <td data-th="Upraveno">
                                <span class="table-files__file-date">19. 1. 2016</span>
                            </td>
                            <td data-th="Typ">
                                <span class="table-files__file-type">OGG</span>
                            </td>
                            <td data-th="Velikost">
                                <span class="table-files__file-size">5,46 MB</span>
                            </td>
                            <td data-th="Počet stažení">
                                <span class="table-files__file-downloads"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="table-files__file-icon las la-film" title="Video MP4"></i>
                                <a class="table-files__file-link" href="#" title="Stáhnout">Dmitri Shostakovich -  Waltz No. 2.mp4</a>
                            </td>
                            <td data-th="Upraveno">
                                <span class="table-files__file-date">19. 1. 2016</span>
                            </td>
                            <td data-th="Typ">
                                <span class="table-files__file-type">MP4</span>
                            </td>
                            <td data-th="Velikost">
                                <span class="table-files__file-size">3,6 MB</span>
                            </td>
                            <td data-th="Počet stažení">
                                <span class="table-files__file-downloads"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="table-files__file-icon las la-image" title="Obrázek JPG"></i>
                                <a class="table-files__file-link" href="#" title="Stáhnout">zasnubni.jpg</a>
                            </td>
                            <td data-th="Upraveno">
                                <span class="table-files__file-date">26. 11. 2015</span>
                            </td>
                            <td data-th="Typ">
                                <span class="table-files__file-type">JPG</span>
                            </td>
                            <td data-th="Velikost">
                                <span class="table-files__file-size">32,6 kB</span>
                            </td>
                            <td data-th="Počet stažení">
                                <span class="table-files__file-downloads"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="table-files__file-icon las la-file-pdf" title="Dokument PDF"></i>
                                <a class="table-files__file-link" href="#" title="Stáhnout">Certifikat</a>
                            </td>
                            <td data-th="Upraveno">
                                <span class="table-files__file-date">26. 11. 2015</span>
                            </td>
                            <td data-th="Typ">
                                <span class="table-files__file-type">PDF</span>
                            </td>
                            <td data-th="Velikost">
                                <span class="table-files__file-size">32,6 kB</span>
                            </td>
                            <td data-th="Počet stažení">
                                <span class="table-files__file-downloads"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="table-files__file-icon las la-file-word" title="Dokument DOC"></i>
                                <a class="table-files__file-link" href="#" title="Stáhnout">Dokument Word</a>
                            </td>
                            <td data-th="Upraveno">
                                <span class="table-files__file-date">26. 11. 2015</span>
                            </td>
                            <td data-th="Typ">
                                <span class="table-files__file-type">DOC</span>
                            </td>
                            <td data-th="Velikost">
                                <span class="table-files__file-size">32,6 kB</span>
                            </td>
                            <td data-th="Počet stažení">
                                <span class="table-files__file-downloads"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="table-files__file-icon las la-file-powerpoint" title="Dokument PPT"></i>
                                <a class="table-files__file-link" href="#" title="Stáhnout">Prezentace</a>
                            </td>
                            <td data-th="Upraveno">
                                <span class="table-files__file-date">26. 11. 2015</span>
                            </td>
                            <td data-th="Typ">
                                <span class="table-files__file-type">PPT</span>
                            </td>
                            <td data-th="Velikost">
                                <span class="table-files__file-size">32,6 kB</span>
                            </td>
                            <td data-th="Počet stažení">
                                <span class="table-files__file-downloads"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="table-files__file-icon las la-file-excel" title="Dokument XLS"></i>
                                <a class="table-files__file-link" href="#" title="Stáhnout">Tabulka</a>
                            </td>
                            <td data-th="Upraveno">
                                <span class="table-files__file-date">26. 11. 2015</span>
                            </td>
                            <td data-th="Typ">
                                <span class="table-files__file-type">XLS</span>
                            </td>
                            <td data-th="Velikost">
                                <span class="table-files__file-size">32,6 kB</span>
                            </td>
                            <td data-th="Počet stažení">
                                <span class="table-files__file-downloads"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="table-files__file-icon las la-file-archive" title="Archiv ZIP"></i>
                                <a class="table-files__file-link" href="#" title="Stáhnout">Archiv</a>
                            </td>
                            <td data-th="Upraveno">
                                <span class="table-files__file-date">26. 11. 2015</span>
                            </td>
                            <td data-th="Typ">
                                <span class="table-files__file-type">ZIP</span>
                            </td>
                            <td data-th="Velikost">
                                <span class="table-files__file-size">32,6 kB</span>
                            </td>
                            <td data-th="Počet stažení">
                                <span class="table-files__file-downloads"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="table-files__file-icon las la-file" title="Soubor"></i>
                                <a class="table-files__file-link" href="#" title="Stáhnout">Whatever</a>
                            </td>
                            <td data-th="Upraveno">
                                <span class="table-files__file-date">26. 11. 2015</span>
                            </td>
                            <td data-th="Typ">
                                <span class="table-files__file-type">WTF</span>
                            </td>
                            <td data-th="Velikost">
                                <span class="table-files__file-size">2,4 GB</span>
                            </td>
                            <td data-th="Počet stažení">
                                <span class="table-files__file-downloads">3</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>


    </div>

{% endblock %}
