{% extends "base.twig" %}

{% block content %}

    {% if meta.top_products %}
        <div class="container container--top-products">
            <h2 class="top-products__title">Top produkty</h2>
            {% include 'partials/product-list-featured.twig' %}
        </div>
    {% endif %}

    {{ content }}
{% endblock %}