{% extends "base.twig" %}

{% block content %}
    <div class="container container--cart">
        <section class="section section--header">
            <h1>Seznam objednávek</h1>
        </section>

        <table class="table table-row-to-col">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Stav</th>
                    <th>Číslo</th>
                    <th>Cena bez DPH</th>
                    <th>Cena s DPH</th>
                    <th>Položek</th>
                    <th>Vytvořeno</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-th="ID">210728</td>
                    <td data-th="Stav">objednáno</td>
                    <td data-th="Číslo">0090</td>
                    <td data-th="Cena bez DPH">132,88&nbsp;CZK</td>
                    <td data-th="Cena s DPH">150,50&nbsp;CZK</td>
                    <td data-th="Položek">3</td>
                    <td data-th="Vytvořeno">13. 10. 2021 10:40:39</td>
                    <td><a href="/souhrn-objednavky/210728/29247c740bc043eccc38d25da795622a/">detail objednávky</a></td>
                </tr>
                <tr>
                    <td data-th="ID">209057</td>
                    <td data-th="Stav">zaplaceno</td>
                    <td data-th="Číslo">0089</td>
                    <td data-th="Cena bez DPH">45,50&nbsp;CZK</td>
                    <td data-th="Cena s DPH">50,00&nbsp;CZK</td>
                    <td data-th="Položek">3</td>
                    <td data-th="Vytvořeno">14. 9. 2021 9:44:39</td>
                    <td><a href="/souhrn-objednavky/209057/8f2687a1cf1963da3ffc4660b1c3d169/">detail objednávky</a></td>
                </tr>
                <tr>
                    <td data-th="ID">209054</td>
                    <td data-th="Stav">zaplaceno</td>
                    <td data-th="Číslo">0088</td>
                                    <td data-th="Cena bez DPH">45,50&nbsp;CZK</td>
                        <td data-th="Cena s DPH">50,00&nbsp;CZK</td>
                                <td data-th="Položek">3</td>
                    <td data-th="Vytvořeno">14. 9. 2021 9:09:17</td>
                    <td><a href="/souhrn-objednavky/209054/1d0f5fcd940ed2fa15fb71e802f71e69/">detail objednávky</a></td>
                </tr>
                    <tr>
                    <td data-th="ID">208997</td>
                    <td data-th="Stav">zaplaceno</td>
                    <td data-th="Číslo">0087</td>
                                    <td data-th="Cena bez DPH">45,92&nbsp;CZK</td>
                        <td data-th="Cena s DPH">50,50&nbsp;CZK</td>
                                <td data-th="Položek">3</td>
                    <td data-th="Vytvořeno">13. 9. 2021 11:19:47</td>
                    <td><a href="/souhrn-objednavky/208997/3dfc40fb7fa22fbf3c2333d717ea37d9/">detail objednávky</a></td>
                </tr>
                    <tr>
                    <td data-th="ID">208674</td>
                    <td data-th="Stav">zaplaceno</td>
                    <td data-th="Číslo">0086</td>
                                    <td data-th="Cena bez DPH">128,14&nbsp;CZK</td>
                        <td data-th="Cena s DPH">150,00&nbsp;CZK</td>
                                <td data-th="Položek">3</td>
                    <td data-th="Vytvořeno">7. 9. 2021 10:30:42</td>
                    <td><a href="/souhrn-objednavky/208674/b29565e3a8dbdcb3e5f78d5d52e92176/">detail objednávky</a></td>
                </tr>
                    <tr>
                    <td data-th="ID">206318</td>
                    <td data-th="Stav">zaplaceno</td>
                    <td data-th="Číslo">0084</td>
                                    <td data-th="Cena bez DPH">45,92&nbsp;CZK</td>
                        <td data-th="Cena s DPH">50,50&nbsp;CZK</td>
                                <td data-th="Položek">3</td>
                    <td data-th="Vytvořeno">26. 7. 2021 11:39:43</td>
                    <td><a href="/souhrn-objednavky/206318/a40d3b1da25c51973e68c3ab72e7875b/">detail objednávky</a></td>
                </tr>
                    <tr>
                    <td data-th="ID">206317</td>
                    <td data-th="Stav">zaplaceno</td>
                    <td data-th="Číslo">0083</td>
                                    <td data-th="Cena bez DPH">91,37&nbsp;CZK</td>
                        <td data-th="Cena s DPH">100,50&nbsp;CZK</td>
                                <td data-th="Položek">3</td>
                    <td data-th="Vytvořeno">26. 7. 2021 11:39:16</td>
                    <td><a href="/souhrn-objednavky/206317/97a23e804fbdbebf80d1c0a7a8ac9d35/">detail objednávky</a></td>
                </tr>
                    <tr>
                    <td data-th="ID">206314</td>
                    <td data-th="Stav">zaplaceno</td>
                    <td data-th="Číslo">0082</td>
                                    <td data-th="Cena bez DPH">45,92&nbsp;CZK</td>
                        <td data-th="Cena s DPH">50,50&nbsp;CZK</td>
                                <td data-th="Položek">3</td>
                    <td data-th="Vytvořeno">26. 7. 2021 11:18:58</td>
                    <td><a href="/souhrn-objednavky/206314/783bf48291d0850f17c5b6a097290ebc/">detail objednávky</a></td>
                </tr>
                    <tr>
                    <td data-th="ID">206045</td>
                    <td data-th="Stav">zaplaceno</td>
                    <td data-th="Číslo">0081</td>
                                    <td data-th="Cena bez DPH">91,37&nbsp;CZK</td>
                        <td data-th="Cena s DPH">100,50&nbsp;CZK</td>
                                <td data-th="Položek">3</td>
                    <td data-th="Vytvořeno">20. 7. 2021 10:50:08</td>
                    <td><a href="/souhrn-objednavky/206045/cdccbf38c4692dc4b5b399acf5ce43fd/">detail objednávky</a></td>
                </tr>
                <tr>
                    <td data-th="ID">205263</td>
                    <td data-th="Stav">zaplaceno</td>
                    <td data-th="Číslo">0080</td>
                    <td data-th="Cena bez DPH">181,86&nbsp;CZK</td>
                    <td data-th="Cena s DPH">200,00&nbsp;CZK</td>
                    <td data-th="Položek">3</td>
                    <td data-th="Vytvořeno">2. 7. 2021 12:40:20</td>
                    <td><a href="/souhrn-objednavky/205263/37b1e6e8c41373fb6d59607780a7fe7f/">detail objednávky</a></td>
                </tr>
            </tbody>
        </table>

    </div>
{% endblock %}
