{% extends "base.twig" %}

{% block content %}
    <div class="container container--search-results">
        <section class="section section--header">
            <h1>Výsledky vyhledávání</h1>
        </section>

        <div class="search-form-wrapper">
            <form class="search-form">
                <div class="search-form__input-wrapper">
                    <div class="search-form__input-group">
                        <label class="search-form__label" for="search-query">Hledaný text</label>
                        <input class="search-form__input" id="search-query" name="search-query" type="text" aria-label="Hledat">
                    </div>
                </div>

                <fieldset class="search-form__fieldset">
                    <legend class="search-form__legend">Kde hledat</legend>
                    <div class="search-form__options">
                        <div class="search-form__form-check search-form__form-check--inline">
                            <input class="search-form__form-check-input" type="checkbox" id="search-articles" value="search-articles">
                            <label class="search-form__form-check-label" for="search-articles">Články</label>
                        </div>
                        <div class="search-form__form-check search-form__form-check--inline">
                            <input class="search-form__form-check-input" type="checkbox" id="search-products" value="search-products">
                            <label class="search-form__form-check-label" for="search-products">Produkty</label>
                        </div>
                        <div class="search-form__form-check search-form__form-check--inline">
                            <input class="search-form__form-check-input" type="checkbox" id="search-comments" value="search-comments">
                            <label class="search-form__form-check-label" for="search-comments">Komentáře</label>
                        </div>
                        <div class="search-form__form-check search-form__form-check--inline">
                            <input class="search-form__form-check-input" type="checkbox" id="search-files" value="search-files">
                            <label class="search-form__form-check-label" for="search-files">Soubory</label>
                        </div>
                    </div>
                </fieldset>

                <button class="search-form__search-button" type="submit">Hledat</button>
            </form>
        </div>

        <div class="row search-results">

            {# Soubor #}
            <div class="file-item-wrapper">
                <div class="file-item">

                    <div class="file-item__header">
                        <i class="file-item__icon las la-file"></i>
                        <h3 class="file-item__title">
                            <a class="file-item__title-link" href="">Certifikat</a>
                        </h3>
                    </div>

                    <div class="file-item__details">
                        <div class="file-item__detail">
                            <span class="file-item__label">Upraveno</span>
                            <span class="file-item__data">31. 8. 2018</span>
                        </div>

                        <div class="file-item__detail">
                            <span class="file-item__label">Typ</span>
                            <span class="file-item__data">PDF</span>
                        </div>

                        <div class="file-item__detail">
                            <span class="file-item__label">Velikost</span>
                            <span class="file-item__data">3,44 MB</span>
                        </div>

                        <div class="file-item__detail">
                            <span class="file-item__label">Počet stažení</span>
                            <span class="file-item__data">0</span>
                        </div>
                    </div>

                </div>
            </div>

            {# Komentar #}
            <div class="comment-item-wrapper">
                <div class="comment-item">

                    <article class="comment">
                        <div class="comment__date">27. 7. 2021</div>
                        <div class="comment__name">Pepa</div>
                        <div class="comment__body">
                            <p>Proin consectetur ex sed pharetra lobortis. Donec suscipit rhoncus nulla, sed sodales arcu tristique quis. Nullam sed imperdiet neque. Curabitur iaculis magna quis odio gravida, ornare commodo odio aliquam. Proin enim nulla, imperdiet ac felis vel, blandit viverra purus.</p>
                        </div>
                    </article>

                    <div class="comment-item__details">
                        <h3 class="article-item__title">
                            <a class="article-item__title-link" href="">Duis condimentum augue id magna</a>
                        </h3>
                        
                        <div class="article-item__details">
                            <span class="article-item__date">21. 6. 2018</span>
                            <span class="article-item__section">
                                <span class="article-item__section-icon"><i class="las la-newspaper"></i></span>
                                <span class="article-item__section-label">Rubrika</span>
                                <span class="article-item__section-title"><a class="article-item__section-link" href="#">Blog</a></span>
                            </span>
                            <span class="article-item__comments">
                                <span class="article-item__comments-icon"><i class="las la-comments"></i></span>
                                <span class="article-item__comments-label">Komentáře</span>
                                <span class="article-item__comments-number">3</span>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

            {# Clanek #}
            <div class="article-item-wrapper">
                <article class="article-item">
                    <div class="article-item__thumbnail">
                        <a class="article-item__thumbnail-link" href="">
                            <div class="article-item__img-wrapper">
                                <div class="article-item__icon-wrapper">
                                    <i class="article-item__icon las la-newspaper"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <h3 class="article-item__title">
                        <a class="article-item__title-link" href="">Duis condimentum augue id magna</a>
                    </h3>
                    
                    <div class="article-item__details">
                        <span class="article-item__date">21. 6. 2018</span>
                        <span class="article-item__section">
                            <span class="article-item__section-icon"><i class="las la-newspaper"></i></span>
                            <span class="article-item__section-label">Rubrika</span>
                            <span class="article-item__section-title"><a class="article-item__section-link" href="#">Blog</a></span>
                        </span>
                        <span class="article-item__comments">
                            <span class="article-item__comments-icon"><i class="las la-comments"></i></span>
                            <span class="article-item__comments-label">Komentáře</span>
                            <span class="article-item__comments-number">3</span>
                        </span>
                    </div>

                    <p class="article-item__perex">Curabitur sagittis hendrerit ante. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </article>
            </div>

        </div>

    </div>
{% endblock %}
