{% extends "base.twig" %}

{% block content %}

    <div class="container container--sitemap">

        <section class="section section--header">
            <h1>Mapa webu</h1>
        </section>
        
        <ul class="sitemap">
            <li class="sitemap__item">
                <a class="sitemap__link" href="/">Úvodní stránka</a>
                <ul class="sitemap__list">
                    <li class="sitemap__item">
                        <a class="sitemap__link" href="/inpage/sluzby/">Služby</a>
                    </li>
                    <li class="sitemap__item">
                        <a class="sitemap__link" href="/inpage/kontakt/">Kontakt</a>
                    </li>
                    <li class="sitemap__item">
                        <a class="sitemap__link" href="/inpage/cenik-424/">Ceník</a>
                    </li>
                    <li class="sitemap__item">
                        <a class="sitemap__link" href="/rubrika/aktuality/">Aktuality</a>
                        <ul class="sitemap__list">
                            <li class="sitemap__item">
                                <a class="sitemap__link" href="/inpage/novinka-brazilsky-keratin/">Level 2</a>
                                <ul class="sitemap__list">
                                    <li class="sitemap__item">
                                        <a class="sitemap__link" href="/inpage/novinka-brazilsky-keratin/">Lorem ipsum</a>
                                    </li>
                                    <li class="sitemap__item">
                                        <a class="sitemap__link" href="/inpage/prijmeme-kadernici/">Dolor sit</a>
                                    </li>
                                    <li class="sitemap__item">
                                        <a class="sitemap__link" href="/inpage/vitejte-na-novem-webu/">Amet fungus felicit</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sitemap__item">
                                <a class="sitemap__link" href="/inpage/novinka-brazilsky-keratin/">Novinka Brazilský keratin</a>
                            </li>
                            <li class="sitemap__item">
                                <a class="sitemap__link" href="/inpage/prijmeme-kadernici/">Přijmeme kadeřnici</a>
                            </li>
                            <li class="sitemap__item">
                                <a class="sitemap__link" href="/inpage/vitejte-na-novem-webu/">Nové oficiální webové stránky</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="sitemap__item">
                <a class="sitemap__link" href="/eshop/">E-shop</a>
                <ul class="sitemap__list">
                    <li class="sitemap__item">
                        <a class="sitemap__link" href="/kategorie/test/">Boty</a>
                    </li>
                    <li class="sitemap__item">
                        <a class="sitemap__link" href="/kategorie/trenky/">Trenky</a>
                    </li>
                </ul>
            </li>

            <li class="sitemap__item">
                <a class="sitemap__link" href="/fotogalerie/">Fotogalerie</a>
                <ul class="sitemap__list">
                    <li class="sitemap__item">
                        <a class="sitemap__link" href="/fotogalerie/spolecenske-ucesy/">Společenské účesy</a>
                    </li>
                    <li class="sitemap__item">
                        <a class="sitemap__link" href="/fotogalerie/promeny/">Proměny</a>
                    </li>
                    <li class="sitemap__item">
                        <a class="sitemap__link" href="/fotogalerie/panske-ucesy/">Pánské účesy</a>
                    </li>
                        <li class="sitemap__item">
                    <a class="sitemap__link" href="/fotogalerie/kazdodenni-ucesy/">Dámské účesy</a>
                    </li>
                </ul>
            </li>

            <li class="sitemap__item">
                <a class="sitemap__link" href="/stahnout/">Stáhnout</a>
                <ul class="sitemap__list">
                    <li class="sitemap__item">
                        <a class="sitemap__link" href="/slozka/ccc/">CCC</a>
                    </li>
                </ul>
            </li>

            <li class="sitemap__item">
                <a class="sitemap__link" href="/kontaktovat/">Kontaktní formulář</a>
            </li>

            <li class="sitemap__item">
                <a class="sitemap__link" href="/vyhledavani/">Vyhledávání</a>
            </li>

            <li class="sitemap__item">
                <a class="sitemap__link" href="/mapa-webu/">Mapa webu</a>
            </li>
        </ul>
    </div>
    
{% endblock %}
