/* Tiny bloky
  ====================================================================== */

// Article sections
section, // zpetna kompatibilita
.section {
  padding-top: clamp(1.5rem, 3vw, 4rem);
  padding-bottom: clamp(1.5rem, 3vw, 4rem);
}

.section--fullwidth,
.section-fullwidth {
  @include fullwidth;
}

.section-bg-light, // zpetna kompatibilita
.section--bg,
.section-bg {
  @include fullwidth-padding;
  background-size: cover; // Obrazek na pozadi
  background-repeat: no-repeat;
  background-position: center;
}

.section-bg-light {
  background-color: $panel-bg;
}

// .section--bg.section--form {
  // Overlay - zahrnout jako volbu do adminu? Bila + cerna? - TO DO
  // position: relative;
  // &::before {
  //   content: '';
  //   background-color: rgba(0, 0, 0, .25);
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 100%;
  // }
// }

/* Bloky s uzsim containerem */
.col-text,
.section--header,
.section--text,
.section-blank, // Zpetna kompatibilita
.section-title,
.section-header,
.section-cta {
  @extend .font-size-fluid; // Optimalizovana velikost pisma pro text clanku
  max-width: $line-width;
  margin-left: auto;
  margin-right: auto;
  &.section-bg-light,
  &.section-bg {
    @include fullwidth-padding;
    max-width: none;
    > * {
      max-width: $line-width;
      margin-left: auto;
      margin-right: auto;
      .section-content {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.section-pricelist {
  max-width: $line-width;
  margin-left: auto;
  margin-right: auto;
  &.section-bg,
  &.section-bg-light {
    @include fullwidth-padding;
    max-width: none;
    > * {
      max-width: $line-width;
      margin-left: auto;
      margin-right: auto;
      .section-content {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.section-2-col-right-text,
.section-2-col-left-text {
  @extend .font-size-fluid;
}

.section--header,
.section--text {
  @include media-breakpoint-up(md) {
    padding-left: $container-padding-x;
    padding-right: $container-padding-x;
  }
}

.section--header {
  text-align: center;
}

.section--header h1,
.section-title h1 {
  @include font-size(3.5rem);
  margin-bottom: 1em;
  text-align: center;
}

// .section--2-col-text-right .row {
//   flex-direction: column-reverse;
//   @include media-breakpoint-up(md) {
//     flex-direction: row;
//   }
// }

.section--2-col-text-left,
.section--2-col-text-right {
  .col-text,
  .col-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section--3-col-text-bottom,
.section--3-col-text-top {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3, p {
    max-width: $line-width;
    margin-left: auto;
    margin-right: auto;
  }
  @include media-breakpoint-up(lg) {
    h3, p {
      max-width: 80%;
    }
  }
}

.section--3-col-text-bottom img {
  margin-top: 2em;
  margin-bottom: 1em;
  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}

.section--3-col-text-top {
  img {
    margin-bottom: 1em;
  }
  h3 {
    margin-top: 2em;
  }
}

.section-cta, // zpetna kompatibilita
.section--cta {
  text-align: center;
}

// Services
.section-services, // zpetna kompatibilita
.section--services {
  ul {
    list-style: none;
    padding-left: 0;
    column-count: 3;
    column-gap: 1rem;
    column-width: 20em;
  }
  li {
    background-color: $panel-bg;
    border-left: 3px solid $primary;
    border-radius: $border-radius;
    padding: 1em 2em;
    margin-bottom: 1rem; 
  }
}

// Tabs
.tab-pane {
  padding-top: 2rem;
}

.section-tabs, // zpetna kompatibilita
.section--tabs {
  .nav-link.active {
    color: $body-color;
    background-color: $body-bg;
  }
  .nav-tabs .nav-item {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

// Text columns
.section--text-2-cols {
  column-count: 2;
  column-gap: 4rem;
  column-width: 18em;
  h2 {
    column-span: all;
  }
}

.section--text-3-cols {
  column-count: 3;
  column-gap: 4rem;
  column-width: 16em;
  h2 {
    column-span: all;
  }
}

// Tables
.table-overflow tr:first-of-type,
.table-collapse td:first-of-type {
  font-weight: bold; // Zvyrazneni popisku
}

.table-overflow thead ~ tbody tr:first-of-type {
  font-weight: normal;
}

.table-overflow {
  td, th {
    white-space: nowrap;
    width: auto !important; // overriding Tiny inline styles
  }
}

@include media-breakpoint-down(md) {
  .table-collapse {
    width: 100% !important; // overriding Tiny inline styles
    td, th {
      display: block !important;
      width: 100% !important;
      height: auto !important;
    }
  }
}


// Code
pre {
  color: $gray-300;
  background-color: $gray-800;
  padding: 1rem;
}


// Citace
blockquote {
  padding-left: 1.5rem;
  border-left: 3px solid $gray-300;
}

// Img filter
.filter-default {
  @include recolor($primary, 1);
}


/* Zpetna kompatibilita bloku Tiny s puvodnimi tridami
  ====================================================================== */

// Text s obrazkem
// .section-2-col-right-text .row {
//   flex-direction: column-reverse;
// }

// .section-2-col-left-text .row {
//   flex-direction: column;
// }

.section-2-col-left-text > .row,
.section-2-col-right-text > .row {
  align-items: center;
  .section-content img {
    display: block;
    margin: auto;
  }
  @include media-breakpoint-down(sm) {
    .section-content:nth-child(2) > * {
      margin-top: .5em;
    }
  }
//   display: flex;
//   > div {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }
//   @include media-breakpoint-up(md) {
//     flex-direction: row;
//   }
//   @include media-breakpoint-up(lg) {
//     > div:first-of-type {
//       padding-right: 2rem;
//     }
//   }
//   @include media-breakpoint-up(xl) {
//     > div:first-of-type {
//       padding-right: 4rem;
//     }
//   }
//   @include media-breakpoint-up(xxl) {
//     > div:first-of-type {
//       padding-right: 8rem;
//     }
//   }
  // zpetna kompatibilita s Bootstrap 3 tridami
  // .col-xs-12 {
  //   @include media-breakpoint-down(md) {
  //     width: 100%;
  //   }
  // }
  // .col-sm-6 {
  //   @include media-breakpoint-up(md) {
  //     width: 50%;
  //   }
  // }
}


// Tri sloupce
.section-3-col-bottom-text,
.section-3-col-top-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3, p {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  @include media-breakpoint-up(lg) {
    h3, p {
      max-width: 80%;
    }
  }
  // zpetna kompatibilita s Bootstrap 3 tridami
  // .col-xs-12 {
  //   @include media-breakpoint-down(md) {
  //     width: 100%;
  //   }
  // }
  // .col-sm-6 {
  //   @include media-breakpoint-up(md) {
  //     // zachovat sirku 100%, jelikoz jde o tri sloupce,
  //     // ktere jde spatne symetricky rozdelit na 2 pulky
  //     width: 100%;
  //   }
  // }
  // .col-md-4 {
  //   @include media-breakpoint-up(lg) {
  //     width: 33.333%;
  //   }
  // }
}

.section-3-col-bottom-text img {
  margin-top: 2em;
  margin-bottom: 1em;
  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}

.section-3-col-top-text {
  img {
    margin-bottom: 1em;
  }
  h3 {
    margin-top: 2em;
  }
}


// Kontakt
.section-contact {
  > .row {
    justify-content: space-between;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 1.5rem;
  }
  .social-list {
    @extend .footer__list--social;
    @include media-breakpoint-down(md) {
      justify-content: center
    }
  }
  .social-link {
    @extend .footer__social-link;
  }
  .social-icon {
    @extend .footer__social-icon;
  }
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
      justify-content: center;
    }
    > .section-cell-item a {
      display: block;
      border: 1px solid mix($panel-bg, $body-color, 75%);
      border-radius: 50%;
      margin: .25rem;
      padding: .5rem;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .15s;
      img {
        @include recolor($primary, 1);
        transition: .15s;
      }
      &:hover {
        background-color: $primary;
        border-color: $primary;
        img {
          @include recolor($body-bg, 1);
          transition: .15s;
        }
      }
    }
    
  }
  // zpetna kompatibilita s Bootstrap 3 tridami
  // .col-xs-12 {
  //   @include media-breakpoint-down(md) {
  //     width: 100%;
  //   }
  // }
  // .col-sm-6 {
  //   @include media-breakpoint-up(md) {
  //     // zachovat sirku 100%, jelikoz jde o tri sloupce,
  //     // ktere jde spatne symetricky rozdelit na 2 pulky
  //     width: 100%;
  //   }
  // }
  // .col-md-4 {
  //   @include media-breakpoint-up(lg) {
  //     width: 33.333%;
  //   }
  // }
  @include media-breakpoint-down(md) {
    h4, ul { text-align: center; }
  }
  .social-fb,
  .social-tw,
  .social-instagram,
  .social-tripadvisor,
  .social-youtube {
    margin-left: .25rem;
    margin-right: .25rem;
    text-align: center;
    border: 1px solid #c2c4c6;
    border-radius: 50%;
    display: inline-block;
    line-height: 0;
    padding: .5em;
    transition: .2s;
    .fa {
      font-size: 1.625rem;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      color: $body-bg;
      background-color: $primary;
      border-color: $primary;
    }
  }
  .fa.fa-facebook::before,
  .fa.fa-twitter::before,
  .fa.fa-instagram::before,
  .fa.fa-tripadvisor::before,
  .fa.fa-youtube::before {
    font-family: 'Line Awesome Brands';
    font-weight: 400;
  }
  .fa.fa-facebook::before {
    content: "\f39e";
  }
  .fa.fa-twitter::before {
    content: "\f099";
  }
  .fa.fa-instagram::before {
    content: "\f16d";
  }
  .fa.fa-tripadvisor::before {
    content: "\f262";
  }
  .fa.fa-youtube::before {
    content: "\f167";
  }
}


// Taby (zalozky)
.section-tabs {
  .item {
    // @extend .nav-item;
    margin-bottom: -1px !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid transparent;
    background: none;
    padding: initial;
  }
  .item.active {
    border-color: mix($body-bg, $body-color, 85%) mix($body-bg, $body-color, 85%) $body-bg !important;
    margin-bottom: -1px !important;
    a {
      color: $body-color;
    }
  }
  .item a { @extend .nav-link; }
}


// Carousel
.carousel-inner {
  .item {
    @extend .carousel-item;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.carousel-control.left {
  @extend .carousel-control-prev;
  .glyphicon {
    @extend .carousel-control-prev-icon;
  }
}

.carousel-control.right {
  @extend .carousel-control-next;
  .glyphicon {
    @extend .carousel-control-next-icon;
  }
}

.carousel-indicators {
  li {
    @extend [data-bs-target];
  }
}

/* Bootstrap 3.4.1 legacy code for carousel animation */  

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}

/* Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
CSS from:       http://codepen.io/transportedman/pen/NPWRGq
and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
Inspired from:  http://codepen.io/Rowno/pen/Afykb */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}    
.carousel-fade .carousel-inner .active {
  opacity: 1;
}    
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}    
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}    
.carousel-fade .carousel-control {
  z-index: 2;
}

/* WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
Need to override the 3.3 new styles for modern browsers & apply opacity */
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  }
}


/* Dynamicke sekce - loader jen na frontendu
  ====================================================================== */

.dynamic-loader {
  text-align: center;
}

body:not(.frontend) .dynamic-loader {
  font-family: var(--bs-font-monospace);
  font-size: .875rem;
  background-color: mix($panel-bg, $body-color, 95%);
  border: 1.5px dashed mix($panel-bg, $body-color, 50%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem clamp(1rem, 4vw, 2rem);
  margin: auto;
}

body.frontend .dynamic-loader {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  font-size: 0;
  background: transparent;
  color: transparent;
  margin-bottom: 0;
}

body.frontend .dynamic-loader::after {
  content: '';
  display: block;
  height: 48px;
  width: 48px;
  margin: auto;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='48px' height='48px' viewBox='0 0 48 48' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cdesc%3ECreated with Lunacy%3C/desc%3E%3Cdefs%3E%3Cpath d='M0 0L48 0L48 48L0 48L0 0Z' id='path_1' /%3E%3CclipPath id='mask_1'%3E%3Cuse xlink:href='%23path_1' /%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='spinner-solid'%3E%3Cpath d='M0 0L48 0L48 48L0 48L0 0Z' id='Background' fill='none' stroke='none' /%3E%3Cg clip-path='url(%23mask_1)'%3E%3Cpath d='M13.875 4.5C13.875 2.01563 15.8906 0 18.375 0C20.8594 0 22.875 2.01563 22.875 4.5C22.875 6.98438 20.8594 9 18.375 9C15.8906 9 13.875 6.98438 13.875 4.5ZM4.03125 8.90625C4.03125 6.83789 5.71289 5.15625 7.78125 5.15625C9.84961 5.15625 11.5313 6.83789 11.5313 8.90625C11.5313 10.9746 9.84961 12.6563 7.78125 12.6563C5.71289 12.6563 4.03125 10.9746 4.03125 8.90625ZM28.9688 7.40625C28.1426 7.40625 27.4688 8.08008 27.4688 8.90625C27.4688 9.73242 28.1426 10.4063 28.9688 10.4063C29.7949 10.4063 30.4688 9.73242 30.4688 8.90625C30.4688 8.08008 29.7949 7.40625 28.9688 7.40625ZM0 19.5C0 17.6367 1.51172 16.125 3.375 16.125C5.23828 16.125 6.75 17.6367 6.75 19.5C6.75 21.3633 5.23828 22.875 3.375 22.875C1.51172 22.875 0 21.3633 0 19.5ZM33.375 17.625C32.3379 17.625 31.5 18.4629 31.5 19.5C31.5 20.5371 32.3379 21.375 33.375 21.375C34.4121 21.375 35.25 20.5371 35.25 19.5C35.25 18.4629 34.4121 17.625 33.375 17.625ZM4.78125 30.0938C4.78125 28.4355 6.12305 27.0938 7.78125 27.0938C9.43945 27.0938 10.7813 28.4355 10.7813 30.0938C10.7813 31.752 9.43945 33.0938 7.78125 33.0938C6.12305 33.0938 4.78125 31.752 4.78125 30.0938ZM28.9688 27.8438C27.7266 27.8438 26.7188 28.8516 26.7188 30.0938C26.7188 31.3359 27.7266 32.3438 28.9688 32.3438C30.2109 32.3438 31.2188 31.3359 31.2188 30.0938C31.2188 28.8516 30.2109 27.8438 28.9688 27.8438ZM15.75 34.5C15.75 33.0527 16.9277 31.875 18.375 31.875C19.8223 31.875 21 33.0527 21 34.5C21 35.9473 19.8223 37.125 18.375 37.125C16.9277 37.125 15.75 35.9473 15.75 34.5Z' transform='translate(5.625 4.5)' id='Shape' fill='%23888888' fill-rule='evenodd' stroke='none' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  animation: dynamic-loader-spin .5s steps(8, end) infinite;
}

@keyframes dynamic-loader-spin {
  to {
    transform: rotate(360deg);
  }
}


/* Fix editoru - styly jen pro editacni mod
  ====================================================================== */

body:not(.frontend) {
  section.section-container .section-cell-item:hover {
    background-color: mix($panel-bg, $body-color, 95%);
  }
  section.section-container .section-cell-item[class*="social"]:hover {
    background-color: $primary;
  }
  .section-contact .social-icons .section-cell-item:hover {
    background-color: $primary;
    border-color: $primary;
    img {
      @include recolor($body-bg, 1);
    }
  }
}

.mce-content-body [data-mce-selected="inline-boundary"] { // nefunguje pokud je v #tinymce
  background-color: mix(#0077ff, $body-bg, 15%);
}

