/* Cart - modal
  ====================================================================== */

.cart-modal__row {
  @extend .row;
}

.cart-modal__img-col {
  @extend .col-sm-6;
  @extend .col-lg-4;
}

.cart-modal__info-col {
  @extend .col-sm-6;
  @extend .col-lg-8;
}

.cart-modal__img-col .link-thumbnail {
  position: relative;
  display: block;
  height: 100%;
  @include media-breakpoint-down(sm) {
    min-height: 6rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .img-thumbnail {
    padding: 0;
    border: 0;
  }
}


/* Cart - global
  ====================================================================== */

.cart-table {
  width: 100%;
  margin-bottom: 3rem;
}

.cart-table__th {
  font-weight: $semi-bold;
  padding: .5rem;
  background-color: $panel-bg;
  &:first-of-type {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  &:last-of-type {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.cart-table__td {
  padding: .5rem;
}

.cart-table__th--price-no-vat,
.cart-table__th--price-vat,
.cart-table__td--price-no-vat,
.cart-table__td--price-vat,
.cart-table__td--cancel {
  text-align: right;
}

.cart-table__price-no-vat-wrapper,
.cart-table__price-vat-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.cart-table__price-no-vat--discount ~ .cart-table__price-no-vat,
.cart-table__price-vat--discount ~ .cart-table__price-vat {
  text-decoration: line-through;
}

.cart-table__price-no-vat {
  color: $text-muted;
}

.cart-table__price-vat {
  font-weight: $semi-bold;
}

@include media-breakpoint-down(lg) {
  .cart-table__td--price-no-vat {
    color: $text-muted;
    padding-bottom: 0;
  }
  .cart-table__td--price-vat {
    font-weight: $semi-bold;
    padding-top: 0;
  }
}

@include media-breakpoint-up(lg) {
  .cart-table__td--price-no-vat,
  .cart-table__td--price-vat {
    width: 15%;
  }
}

.cart-table__divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cart-table__divider--border {
  border-bottom: 1px dashed mix($panel-bg, $body-color, 77%);
}

.cart-table__label-icon {
  font-size: 1.5em;
  margin-right: .5em;
  color: $primary;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}


/* Cart - steps (progress)
  ====================================================================== */

// .cart-steps {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 3rem;
//   @include media-breakpoint-up(md) {
//     gap: 4rem;
//   }
// }

// .cart-steps__step {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 10rem;
//   text-align: center;
//   color: mix($panel-bg, $body-color, 50%);
//   &::after {
//     position: absolute;
//     content: '';
//     background-color: mix($panel-bg, $body-color, 92%);
//     width: 8rem;
//     height: 3px;
//     border-radius: 3px;
//     right: -6rem;
//     top: 1.5rem;
//   }
//   &:last-of-type::after {
//     display: none;
//   }
//   &.active {
//     color: $primary;
//     .cart-steps__number {
//       border-color: $primary;
//     }
//   }
//   &.done {
//     color: $body-color;
//     .cart-steps_number::after {
//       position: absolute;     
//       content: '';
//       background-color: $primary;
//       background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M 28.28125 6.28125 L 11 23.5625 L 3.71875 16.28125 L 2.28125 17.71875 L 10.28125 25.71875 L 11 26.40625 L 11.71875 25.71875 L 29.71875 7.71875 Z'/%3E%3C/svg%3E");
//     }
//   }
// }

// .cart-steps__number {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 1.5rem;
//   text-align: center;
//   width: 1.875em;
//   height: 1.875em;
//   border: 3px solid mix($panel-bg, $body-color, 92%);
//   border-radius: 50%;
//   margin-bottom: .5rem;
// }


/* Cart - products list
  ====================================================================== */

@include media-breakpoint-up(lg) {
  .cart-table__td--product {
    width: 50%;
  }
  .cart-table__td--qty {
    width: 14%;
  }
}

.cart-table__th--product {
  padding: 1rem;
}

.cart-table__th--qty,
.cart-table__td--qty {
  text-align: center;
}

.cart-table__product {
  display: flex;
  align-items: center;
}

.cart-table__img-link {
  position: relative;
  display: block;
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
  flex-shrink: 0;
  @include media-breakpoint-up(sm) {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
  }
}

.cart-table__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-table__img-link .product-item__icon {
  font-size: 3rem;
  @include media-breakpoint-up(sm) {
    font-size: 3.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cart-table__description {
  padding-right: 1rem;
}

.cart-table__unit-price {
  color: $text-muted;
  margin-right: .5rem;
}

.cart-table__item-cancel {
  @extend .minicart__item-cancel;
}

.cart-table__item-cancel--mobile,
.cart-table__mobile-label {
  display: none;
}

// Empty cart

.cart-table__empty {
  @extend .minicart__empty;
}

.cart-table__empty-icon {
  @extend .minicart__empty-icon;
}

// Mobile layout

@include media-breakpoint-down(lg) {
  .cart-table thead {
    display: none;
  }
  .cart-table__td {
    display: block;
  }
  .cart-table__td--product {
    position: relative;
    background-color: $panel-bg;
    border-radius: $border-radius;
  }
  .cart-table__description {
    padding-right: 3rem;
  }
  .cart-table__td--qty,
  .cart-table__td--price-no-vat,
  .cart-table__td--price-vat {
    text-align: right;
  }
  .cart-table__mobile-label {
    display: block;
    float: left;
  }
  .cart-table__item-cancel {
    display: none;
  }
  .cart-table__item-cancel--mobile {
    display: block;
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: .85;
    &:hover,
    &:focus {
      color: $body-color;
      background-color: transparent;
      opacity: 1;
    }
  }
}


/* Cart - delivery
  ====================================================================== */

.cart-table__delivery,
.cart-table__payment {
  display: flex;
  align-items: center;
  gap: 1rem;
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.cart-table__payment {
  margin-top: 1rem;
}

.cart-table__info,
.cart-table__label {
  display: flex;
  align-items: center;
}

.cart-table__info--delivery {
  flex-direction: column;
  align-items: flex-start;
}

.cart-table__label {
  font-weight: $semi-bold;
  width: 5em;
  flex-shrink: 0;
}

.cart-table__select {
  max-width: 18em;
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}


/* Cart - sum
  ====================================================================== */

.cart-table__total-label {
  font-weight: $semi-bold;
}

.cart-table__td--promo {
  padding-top: 0;
  padding-bottom: 0;
}

.cart-table__promo-button,
.cart-table__delivery-button {
  background-color: transparent;
  border: none;
  color: $primary;
  padding: 0;
}

.cart-table__tr--sum td {
  background-color: $panel-bg;
  &:first-of-type {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  &:last-of-type {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  @include media-breakpoint-down(lg) {
    &:first-of-type {
      border-bottom-left-radius: 0;
      border-top-right-radius: $border-radius;
    }
    &:nth-of-type(3) {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    &:last-of-type {
      display: none;
    }
  }
}

.cart-table__td--sum {
  @include media-breakpoint-up(lg) {
    padding: 1rem;
  }
}

// Promo code
.promo-code {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: .5rem;
}

.promo-code__input-wrapper {
  @extend .input-group;
}

.promo-code__input {
  @extend .form-control;
  max-width: 18rem;
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

.promo-code__submit {
  @extend .btn;
  @extend .btn-primary;
}

.promo-code__cancel {
  @extend .minicart__item-cancel;
}

.promo-code__info {
  display: flex;
  align-items: center;
  &--error {
    color: $red;
  }
  &--success {
    color: $green;
  }
  &--warning {
    color: shade-color($yellow, 50%);
  }
}

.cart-table__discount {
  display: inline-block;
  font-size: .9375em;
  color: $red;
  border: 1px solid $red;
  border-radius: $border-radius;
  padding: 0 .375em;
}


/* Cart - forms
  ====================================================================== */

.cart-form__title {
  @extend h4;
}

@include media-breakpoint-up(lg) {
  .cart-form__items-wrapper-inner {
    max-width: 35em;
    margin: auto;
  }

  .cart-form--invoice {
    display: grid;
    gap: 0 2rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "invoice delivery"
      "contact note"
      "button button";
  }

  .cart-form__fieldset--contact { grid-area: contact; }
  .cart-form__fieldset--invoice-address { grid-area: invoice; }
  .cart-form__fieldset--delivery-address { grid-area: delivery; }
  .cart-form__fieldset--note { grid-area: note; }
  .cart-button { grid-area: button; }

  .cart-form__fieldset--note .cart-form__input {
    min-height: 8.25em;
  }
}

.cart-form__items-wrapper {
  background-color: $panel-bg;
  border-radius: $border-radius;
  padding: 1rem;
  margin-bottom: 2rem;
}

.cart-form__item-group {
  @extend .row;
  > * {
    @extend .col-12;
    @extend .col-md;
  }
}

.cart-form__item {
  margin-bottom: 1rem;
}

.cart-form__item--city {
  @extend .col-md-8;
}

.cart-form__item--zip {
  @extend .col-md-4;
}

.cart-form__label {
  @extend .form-label;
}

.cart-form__input {
  @extend .form-control;
}

.cart-form__select {
  @extend .form-select;
}

.cart-button {
  @extend .btn;
  @extend .btn-primary;
  display: block;
  margin: auto;
}

.cart-form__input-group {
  @extend .input-group;
}

.cart-form__input-group-text {
  @extend .input-group-text;
  background-color: mix($panel-bg, $body-color, 94%);
}

.cart-form__help-link {
  @extend .form-label;
}

.cart-button--nested {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cart-form__info {
  display: flex;
  align-items: center;
  padding: 1em .75em;
  background-color: $panel-bg;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  @include media-breakpoint-up(sm) {
    padding: 1.54em; // to align forms
  }
}

.cart-form__info-icon {
  font-size: 1.5em;
  color: $text-muted;
  margin-right: .5em;
}

.cart-form__info-p {
  margin-bottom: 0;
}

.cart-form--mojeid .cart-form__items-wrapper-inner {
  display: flex;
  flex-direction: column;
}


/* Cart - summary
  ====================================================================== */

.cart-table--summary {

  .cart-table__delivery-option,
  .cart-table__payment-option {
    font-weight: $semi-bold;
  }

  @include media-breakpoint-up(lg) {
    .cart-table__td--product {
      width: 56%;
    }
  }

  @include media-breakpoint-down(lg) {
    .cart-table__qty {
      text-align: right;
    }
    .cart-table__description {
      padding-right: 0;
    }
  }

}

.cart-form-wrapper .cart-form {
  @extend .row;
  .cart-form__summary {
    @extend .col-lg;
    margin-bottom: 2rem;
  }
}

.cart-form__summary-contact {
  margin-top: .5rem;
}

.cart-form__check-wrapper {
  margin-bottom: 2rem;
}

.cart-form__check {
  @extend .form-check;
  margin-bottom: 1rem;
}

.cart-form__check-input {
  @extend .form-check-input;
}

.cart-form__check-label {
  @extend .form-check-label;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  .cart-button {
    margin: 0;
  }
}

.cart-buttons--vertical {
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.cart-button--back {
  @extend .btn-outline-primary;
  background-color: transparent;
}

.cart-button--outline {
  @extend .btn-outline-primary;
  background-color: transparent;
}

.cart-buttons-info {
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;
  font-size: .875rem;
  color: $text-muted;
}

.cart-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  padding: 1rem;
  .cart-button {
    min-width: 15em;
    margin: .25rem .5rem;
  }
}

.cart-login__info-text {
  color: $text-muted;
  text-align: center;
  font-size: .875rem;
}

.cart-button--mojeid {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray-600;
  background: linear-gradient(0deg, mix($panel-bg, $body-color, 15%) 0%, mix($panel-bg, $body-color, 35%) 100%);
  border-color: transparent;
  transition: .2s;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, mix($panel-bg, $body-color, 10%) 0%, mix($panel-bg, $body-color, 30%) 100%);
    border-radius: $border-radius;
    opacity: 0;
    transition: .2s;
  }
  &:hover,
  &:focus {
    border-color: transparent;
    &::before {
      opacity: 1;
    }
  }
}

.cart-button--mojeid__label {
  width: 78%;
  z-index: 1;
}

.cart-button--mojeid__label::after {
  position: absolute;
  content: '';
  right: 50px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: mix($panel-bg, $body-color, 40%);
  background: linear-gradient(90deg, mix($panel-bg, $body-color, 5%) 0%, mix($panel-bg, $body-color, 40%) 100%);
}

.cart-button--mojeid__icon {
  position: relative;
  right: -8px;
}

.cart-login__text {
  font-weight: $semi-bold;
  margin-bottom: 1rem;
}


// Payment, delivery, status

.cart-form__row {
  @extend .row;
  > .col {
    min-width: 20rem;
  }
}

.cart-form__card {
  border-radius: $border-radius;
  background-color: $panel-bg;
  padding: 1rem;
  margin-bottom: 1.5rem;
  height: calc(100% - 1.5rem);
}

.payment-options,
.cart-form__delivery-info,
.cart-form__order-status:first-of-type {
  margin-top: 1.5rem; // odsazeni od nadpisu
}

.payment-options {
  display: flex;
  flex-direction: column;
}

.payment-options__item {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.payment-options__link {
  display: flex;
  align-items: center;
  width: 100%;
  background: $body-bg;
  border-radius: $border-radius;
  border: 1px solid transparent;
  padding: .25rem .5rem;
  transition: .2s;
  &:hover,
  &:focus {
    text-decoration: none;
    border-color: $primary;
    .payment-options__img {
      @include recolor($primary, 1);
    }
  }
}

.payment-options__img {
  @include recolor($body-color, 1);
}

.payment-options__img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: .5rem;
}

.cart-form__delivery-icon {
  width: auto;
  height: auto;
  max-width: 8rem;
  max-height: 3rem;
  margin-left: 1rem;
}

.cart-form__delivery-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $body-bg;
  padding: 1rem;
  border-radius: $border-radius;
  border: 1px solid transparent;
  transition: .2s;
  &:hover,
  &:focus {
    text-decoration: none;
    border-color: $primary;
  }
}

.cart-form__order-status {
  padding: .5rem 1rem;
  border-radius: $border-radius;
}

.cart-form__order-status.active {
  background-color: $body-bg;
}

.cart-form__order-status-date::after {
  content: " —";
}

.cart-form__order-status:not(.active) {
  opacity: .5;
}

.cart-form__order-status.active .cart-form__order-status-value {
  font-weight: bold;
}