/* Article comments
  ====================================================================== */

// Sirka commentu shodna se sirkou odstavcu ve clanku
// - nepouziva se
@include media-breakpoint-up(md) {
  .font-size-fluid ~ .container--comments .comments {
    font-size: $font-size-fluid;
    .comment-list,
    .add-comment {
      font-size: $font-size-base;
    }
  }
}

.comments {
  max-width: $line-width;
  margin-left: auto;
  margin-right: auto;
}

.add-comment {
  background-color: $panel-bg;
  border-radius: $border-radius;
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, .5);
  @include media-breakpoint-up(md) {
    padding: 3rem;
  }
}

.add-comment__input {
  @extend .form-control;
}

.add-comment__button--submit {
  @extend .btn;
  @extend .btn-primary;
}

.add-comment__button--close {
  @extend .btn;
}

.comment-list {
  list-style: none;
  padding-left: 0;
}

.comment-sublist {
  list-style: none;
  padding-left: 2rem;
  @include media-breakpoint-up(md) {
    padding-left: 3rem;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  background-color: $panel-bg;
  border-radius: $border-radius;
  border-left: 3px solid $primary;
  padding: 1.5rem;
  box-shadow: $box-shadow;
  margin-bottom: 1rem;
  @include media-breakpoint-up(md) {
    padding: 2rem 3rem;
  }
}

.comment__name {
  font-size: 1.25rem;
  font-weight: $semi-bold;
  margin-bottom: 1rem;
}

.comment__title {
  font-weight: 600;
}

.comment__date {
  font-size: .875rem;
  color: $text-muted;
  margin-left: auto;
}

.comment__buttons {
  margin-left: auto;
}

.comment__hide {
  @extend .btn;
  &:hover {
    border-color: $primary;
    color: $primary;
  }
}

.comment__reply {
  @extend .btn;
  &:hover {
    @extend .btn-primary;
  }
}

.no-comment-yet {
  @extend .comment;
  text-align: center;
}

.add-comment__input,
.add-comment__captcha-img,
.g-recaptcha {
  transition: .3s;
}

.add-comment__captcha-img {
  border-radius: $border-radius;
}

.add-comment__input--code {
  // Hide arrows
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  // Hide arrows in Firefox
  -moz-appearance: textfield;
}

.add-comment__captcha-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@include media-breakpoint-up(sm) {
  .add-comment__captcha-wrap {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
  }
}

// Comment box COLLAPSED
.add-comment:not(.expanded) .add-comment__wrapper {
  .add-comment__input,
  .add-comment__button,
  .add-comment__captcha-wrap,
  .add-comment__captcha-img,
  .g-recaptcha {
    opacity: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    transition: .3s;
  }
}

// Comment box EXPANDED
.add-comment.expanded {
  .add-comment__input--text {
    min-height: 6rem;
  }
}

.add-comment.expanded {
  .add-comment__input,
  .add-comment__captcha-img,
  .g-recaptcha {
    margin-bottom: 1rem;
  }
}

// Comment citation
.add-comment__citation {
  background-color: mix($body-bg, transparent, 75%);
  border-radius: $border-radius;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  .comment__name {
    font-size: inherit;
    margin-bottom: .5rem;
  }
  .comment__body {
    font-style: italic;
  }
}
