/* Cookies lista (deprecated)
  ====================================================================== */

.cookies {
  @include auto-color($primary);
  position: fixed;
  z-index: 999;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  border-radius: $border-radius;
  box-shadow: 0 10px 20px -15px rgba(0, 0, 0, .5);
  padding: 1rem 1.5rem;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
    align-items: center;
  }
  @include media-breakpoint-up(lg) {
    left: 4rem;
    right: 4rem;
  }
}

.cookies__icon {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
    font-size: 2em;
  }
}

.cookies__p {
  margin-bottom: 0;
  flex-grow: 1;
}

.cookies__link,
.cookies__link:hover,
.cookies__link:focus {
  @include auto-color($primary);
}

.cookies__button {
  @extend .btn;
  @extend .btn-light;
  @include auto-color($body-bg);
  border: none;
  &:hover,
  &:focus {
    @include auto-color(mix($body-bg, $body-color, 90%));
  }
}



/* Cookies modal / bar
  ====================================================================== */

/* Cookies - layout */
.modal-cookies {
  align-items: flex-end;
  max-width: 980px;
}

@include media-breakpoint-down(lg) {
  .modal-cookies:not(.overlay) {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

.modal-cookies.overlay {
  align-items: center;
  max-width: 35rem;
}

body.modal-bar #cookiesModal {
  padding-right: initial !important;
  bottom: 1rem;
  top: auto;
  left: 0;
  transform: translateX(calc((100vw - 100%) / 2));
  height: auto;
  width: auto;
  max-width: fit-content;
}

body.modal-bar #cookiesModal.in {
  display: table !important;
}

.modal-cookies .modal-content {
  padding: clamp(1rem, calc(.125rem + 2vw), 1.25rem) clamp(1rem, calc(.5rem + 3vw), 2rem);
  box-shadow: 0 2px 20px -10px rgba(0, 0, 0, .5);
  max-height: none;
}

@include media-breakpoint-down(sm) {
  .modal-cookies .modal-content {
    max-height: 540px;
  }
}

.modal-cookies .modal-header,
.modal-cookies .modal-body,
.modal-cookies .modal-footer {
  border: none;
  padding: 0;
}

.modal-cookies .modal-header {
  align-items: center;
  margin-bottom: .75rem;
  padding: .25rem;
}

.modal-cookies .modal-body {
  max-height: calc(100vh - 14rem);
  overflow-y: auto;
}

.modal-cookies .container-fluid {
  padding: .25rem;
}

.modal-cookies .cookies-text + * {
  margin-top: 2rem;
}

.modal-cookies .cookies-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(.5rem, calc(.125rem + 2vw), 1rem);
  margin-bottom: .5rem;
}

.modal-cookies .cookies-details p {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.modal-cookies .cookies-info:last-child:last-child {
  margin-bottom: 2rem;
}

/* Cookies - typography */
.modal-cookies h2.modal-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0;
}

.modal-cookies.overlay h2.modal-title {
  font-size: clamp(1.25rem, calc(.5rem + 3vw), 1.5rem);
}

.modal-cookies h3 {
  /* font-size: clamp(1rem, calc(.25rem + 2vw), 1.25rem); */
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-right: auto;
}

.modal-cookies p {
  font-size: .875rem;
}

/* .modal-cookies.overlay p {
  font-size: .9375rem;
} */

.modal-cookies .button-more {
  color: $body-color;
  font-weight: 600;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  outline: none;
}

.modal-cookies .button-more-icon {
  @include recolor($body-color, 1);
  display: inline-block;
  width: 1.25rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E%0A");
  margin-right: .25rem;
  transform-origin: center 57%;
  transition: .15s;
}

.modal-cookies .button-more-icon.active {
  transform: rotate(180deg);
}

/* Cookies - buttons */
.modal-cookies .btn {
  transition: .15s;
}

.modal-cookies .modal-footer .btn {
  width: 100%;
}

@media (min-width: 480px) {
  .modal-cookies .modal-footer .btn {
    width: 11rem;
  }
}

.modal-cookies .close {
  display: flex;
  border: none;
  position: initial;
  color: initial;
  background-color: transparent;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  opacity: .5;
  transition: .15s;
}

.modal-cookies .close:hover {
  opacity: 1;
}

.modal-cookies .button-close {
  @include recolor($body-color, 1);
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

/* Cookies - switch button */
.modal-cookies .custom-switch {
  padding-left: 3rem;
  margin-bottom: 0;
}

.modal-cookies .custom-switch label {
  min-width: 4.5rem;
  padding-left: .25em;
}

.modal-cookies .custom-switch .form-check-input {
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#{encodecolor(mix($body-color, $panel-bg, 65%))}'/%3e%3c/svg%3e");
}
.modal-cookies .custom-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='#{encodecolor($panel-bg)}'/%3e%3c/svg%3e");
}

/* Switch - switch labels */
.modal-cookies label {
  position: relative;
  bottom: .0625rem;
  font-size: .875rem;
}
.modal-cookies label .label-on {
  display: none;
}
.modal-cookies input:checked ~ label .label-off {
  display: none;
}
.modal-cookies input:checked ~ label .label-on {
  display: inline;
}

/* Open cookies settings */
.cookies-settings-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  font-size: .875rem;
  border: none;
  background-color: #222;
  padding: .5rem;
  gap: .25rem;
  opacity: .75;
  transition: .3s;
  z-index: 1050;
  &:hover {
    opacity: 1;
  }
}

.cookies-settings-btn:not(.active) {
  transform: translateX(calc(-100% - 1rem));
}

.cookies-settings-btn button {
  background-color: transparent;
  border: none;
  color: #aaa;
}

.cookies-settings-btn__open:hover {
  color: #eee;
}

.cookies-settings-btn__dismiss:hover {
  filter: brightness(1.4);
}

.cookies-settings-btn__dismiss-icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23a0a0a0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  background-color: transparent;
  border: none;
}
