/* Random products
  ====================================================================== */

.top-products__title {
  text-align: center;
  max-width: $line-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

// .container--top-products {
//   max-width: 70em;  
//   .product-list {
//     justify-content: center;
//   }

//   .product-item-wrapper {
//     @extend .col-sm-6;
//     @extend .col-lg-4;
//     padding-left: $grid-gutter-width / 2;
//     padding-right: $grid-gutter-width / 2;
//     margin-bottom: $grid-gutter-width;
//   }
// }


/* Eshop layout (list of products)
  ====================================================================== */

.eshop-menu__list {
  list-style: none;
  padding: .75rem .5rem;
  background-color: $panel-bg;
  border-radius: $border-radius;
}

// Submenu
.eshop-menu__list.level2 {
  list-style: none;
  padding: 0;
  padding-left: .75rem;
  &:not(.expanded) {
    display: none; // schovani submenu ve vychozim stavu
  }
  .eshop-menu__item {
    border-left: 1.5px solid mix($panel-bg, $body-color, 88%);
    &.active {
      border-color: $primary;
    }
  }
}

// Aktivni polozka
.eshop-menu__item.active {
  > .eshop-menu__link {
    color: $primary;
  }
  // Zobrazeni submenu u aktivni polozky
  .eshop-menu__list.level2 {
    display: block;
  }
}

.eshop-menu__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  line-height: normal;
  color: $body-color;
  padding: .5em;
  &:hover {
    text-decoration: none;
  }
}

.eshop-menu__title {
  padding-right: .5em;
}

.eshop-menu__count {
  display: inline-block;
  font-size: .75rem;
  line-height: 1.25;
  text-align: center;
  padding: .25em .3125em;
  border-radius: $border-radius;
  color: $text-muted;
  background-color: $body-bg;
}

.eshop-menu__caret {
  transition: .15s;
}

.eshop-menu__link--button {
  @extend a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background-color: transparent;
  color: $body-color;
  &:not(.collapsed) {
    .eshop-menu__caret {
      transform: rotate(180deg);
    }
  }
}

// Mobilni rozbalovaci menu
@include media-breakpoint-down(lg) {
  .eshop-menu {
    background-color: $panel-bg;
    border-radius: $border-radius;
    cursor: pointer;
    .eshop-menu__header {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        margin: 0;
      }
      .eshop-menu__header-caret {
        transition: .2s
      }
      &.active .eshop-menu__header-caret {
        transform: rotate(180deg);
      }
    }
    > .eshop-menu__list:not(.expanded) {
      height: 0;
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .eshop-menu__header-caret {
    display: none;
  }
}

/**
 * 1 = jednosloupcovy layout (kategorie nad produkty) - jen pro mensi mnozstvi kategorii a bez pouziti podkategorii
 * 2 = dvousloupcovy layout (kategorie vedle produktu) - klasicky layout
*/

$eshop-layout: 2; // Volba layoutu

@include media-breakpoint-up(lg) {

  // Horizontalni menu nahore
  @if $eshop-layout == 1 {
    .eshop-menu__list:not(.level2) {
      display: flex;
      padding: 0 1.5rem;
    }

    .eshop-menu__item {
      position: relative;
      margin-top: .75em;
      margin-bottom: .75em;
    }

    .eshop-menu__list:not(.level2) > .eshop-menu__item,
    .eshop-menu__list:not(.level2) > .eshop-menu__item > .eshop-menu__link {
      display: inline;
      .eshop-menu__count {
        display: none;
      }
    }

    .eshop-menu__link {
      display: block;
    }

    .eshop-menu__list.level2 {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      background-color: $panel-bg;
      border: 1px solid mix($panel-bg, $body-color, 70%);
      box-shadow: 0 10px 40px -15px rgba(0, 0, 0, .2);
      min-width: 15em;
      padding-left: 0;
      padding-top: 1em;
      padding-bottom: 1em;
      margin-top: 0;
      transition: .15s;
      z-index: 1;
      // Overriding Bootstrap default collapse behavior
      &:not(.expanded) {
        height: auto !important;
        margin-top: .5em;
        opacity: 0;
      }
      &.collapsing {
        height: auto !important;
      }
    }

    .eshop-menu__list.level2 .eshop-menu__link {
      display: block;
      padding: .5em 1.5em;
    }
  }

  // Vertikalni menu vlevo
  @if $eshop-layout == 2 {
    .container--eshop {
      display: grid;
      grid-template-rows: auto auto auto;
      grid-template-columns: auto 1fr;
      grid-template-areas:
        "header header"
        "filters filters"
        "menu products";
    }
  
    .eshop-header   { grid-area: header; }
    .eshop-menu     { grid-area: menu; }
    .eshop-filters  { grid-area: filters; }
    .eshop-products { grid-area: products; }
  
    .eshop-menu {
      padding-right: 2rem;
    }
  
    .eshop-menu__list {
      padding: .75rem 1.5rem;
    }
  }

}

@if $eshop-layout == 2 { // pokud je menu vertikalni
  @include media-breakpoint-up(lg) {
    .eshop-menu {
      width: 320px; // aby layout vychazel pekne, at uz je menu zobrazene nebo neni
    }
  }
  @include media-breakpoint-up(xxl) {
    .eshop-menu {
      width: 330px; // aby layout vychazel pekne, at uz je menu zobrazene nebo neni
    }
  }
}


/* List products - grid layout
  ====================================================================== */

  .product-list {
    @extend .row;
    margin-bottom: $grid-gutter-width;
  }

  .product-item-wrapper,
  .container--eshop .category-wrapper,
  .container--eshop .product-item-wrapper {
    @extend .col-sm-6;
    @extend .col-xl-4;
    margin-bottom: $grid-gutter-width / 2;
  }

  .product-list--grid .product-item-wrapper,
  .container--eshop .product-item-wrapper,
  .container--eshop .category-wrapper {
    // Rozumna sirka nezavisle na tom, jestli je 
    // zobrazene eshop menu nebo ne, proto tato specificka cisla
    @include media-breakpoint-up(lg) {
      max-width: 320px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 285px;
    }
    @include media-breakpoint-up(xxl) {
      max-width: 330px;
    }
  }
  
  .product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    background-color: $light-bg;
    border: $light-mode-only-border;
    border-radius: .25rem;
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, .5);
    transition: .2s;
    &:hover {
      border-color: mix($body-color, $body-bg, 50%);
      box-shadow: 0 8px 16px -10px rgba(0, 0, 0, .2);
    }
  }
  
  .product-item__title {
    font-size: 1.25rem;
    flex-grow: 1;
  }
  
  .product-item__title-link {
    text-decoration: none;
  }
  
  .product-item__thumbnail {
    @extend .article-item__thumbnail;
  }
  
  .product-item__img-wrapper {
    @extend .article-item__img-wrapper;
    padding-bottom: 100%; // pomer stran obrazku - ctverec
    // background-color: mix($panel-bg, $body-color, 95%);
  }
  
  .product-item__img {
    @extend .article-item__img;
  }
  
  .product-item__icon {
    @extend .article-item__icon;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .product-item__description {
    flex-grow: 1;
    margin-bottom: 1em;
  }
  
  .product-item__price-label {
    display: none;
  }
  
  .product-item__price-old {
    display: inline-block;
    position: relative;
    color: $text-muted;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      width: 98%;
      height: 1px;
      background-color: $text-muted;
      // transform: rotate(-12deg);
    }
  }
  
  .product-item__price-current-wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
  }
  
  .product-item__price-current {
    font-size: 1.375rem;
    font-weight: $semi-bold;
    line-height: 1;
  }

  .product-item__price-vat-info {
    margin-left: .5rem;
  }

  .product-item__cart-button {
    @extend .btn;
    @extend .btn-outline-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .product-item__cart-button-icon {
    font-size: 1.25em;
    padding-right: .5em;
  }
  
  // Product labels
  .product-item__labels {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: .875rem;
    margin-left: .5rem;
    margin-top: .5rem;
    z-index: 1;
  }
  
  .product-item__label {
    display: inline-block;
    padding: .25em .625em;
    border-radius: .25rem;
    margin-bottom: .25rem;
    // box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .5);
  }
  
  .product-item__label--favourite {
    color: $body-bg;
    background-color: $green;
  }
  
  .product-item__label--variants {
    color: $text-muted;
    background-color: $panel-bg;
  }
  
  .product-item__label--used {
    color: $gray-800;
    background-color: $gray-200;
  }
  
  // Stock info
  .product-item__stock {
    position: relative;
    font-weight: $semi-bold;
    margin-bottom: .5rem;
  }
  
  .product-item__stock--instock,
  .product-item__stock .label-stock1 {
    color: $green;
  }
  .product-item__stock--soldout,
  .product-item__stock .label-stock5 {
    color: $red;
  }
  
  .product-item__stock--coming,
  .product-item__stock--atsupplier,
  .product-item__stock--bespoke,
  .product-item__stock--unknown,
  .product-item__stock .label-stock2,
  .product-item__stock .label-stock3,
  .product-item__stock .label-stock4,
  .product-item__stock .label-stock6 {
    color: $text-muted;
  }
  
  // Discount
  .product-item__discount {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $semi-bold;
    color: $gray-900;
    background-color: #ffd105;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    z-index: 1;
  }


/* List products - rows layout
  ====================================================================== */
  
  .product-list--rows {
    @include media-breakpoint-up(sm) {
      .product-item-wrapper {
        @extend .col-sm-12;
      }
      .product-item {
        display: grid;
        grid-template-columns: 15rem 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "image title"
            "image perex"
            "image stock"
            "image price"
            "image button";
      }
      .product-item__thumbnail   { grid-area: image; }
      .product-item__title       { grid-area: title; }
      .product-item__description { grid-area: perex; }
      .product-item__stock       { grid-area: stock; }
      .product-item__price       { grid-area: price; }
      .product-item__cart-button { grid-area: button; }
    
      .product-item__cart-button { margin-left: 0; }
      .product-item__thumbnail { margin-right: 1rem; margin-bottom: 0; }
      .product-item__labels { margin-top: 1rem; }
      .product-item__discount {
        top: .5rem;
        right: .5rem;
      }
    }
    @include media-breakpoint-up(md) {
      .product-item__title {
        font-size: 1.5rem;
      }
    }
  }


/* Product page
  ====================================================================== */

.product-page__stock { @extend .product-item__stock; }

.product-page__stock .label,
.product-item__stock .label {
  display: inline-block;
  &::first-letter {
    text-transform: capitalize;
  }
}

.product-page__stock--instock,
.product-page__stock .label-stock1 {
  @extend .product-item__stock--instock;
}

.product-page__stock--coming,
.product-page__stock .label-stock2 {
  @extend .product-item__stock--coming;
}

.product-page__stock--atsupplier,
.product-page__stock .label-stock3 {
  @extend .product-item__stock--atsupplier;
}

.product-page__stock--bespoke,
.product-page__stock .label-stock4 {
  @extend .product-item__stock--bespoke;
}

.product-page__stock--soldout,
.product-page__stock .label-stock5 {
  @extend .product-item__stock--soldout;
}

.product-page__stock--unknown,
.product-page__stock .label-stock6 {
  @extend .product-item__stock--unknown;
}

.product-page__labels           { @extend .product-item__labels; top: 0; left: 0;}
.product-page__label            { @extend .product-item__label; }
.product-page__label--favourite { @extend .product-item__label--favourite; }
.product-page__label--used      { @extend .product-item__label--used; }

/* Price */

.product-page__price-current,
.product-page__price-current-accent {
  display: flex;
  gap: .375em;
  align-items: baseline;
}

.product-page__price-wrap-old,
.product-page__price-wrap-current {
  margin-bottom: 1rem;
}

.product-page__price-name {
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .0375em;
}

.product-page__price-name--discount {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  background: $red;
  border-radius: .25rem;
  padding: .125rem .375rem;
  margin-bottom: .5rem;
}

.product-page__price-old,
.product-page__price-old .product-page__price-value,
.product-page__price-old .product-page__price-vat-info {
  display: inline-block;
}

.product-page__price-old {
  position: relative;
  color: $text-muted;
  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    width: 98%;
    height: 1px;
    background-color: $text-muted;
  }
}

.product-page__price-current {
  color: $text-muted;
}

.product-page__price-current-accent .product-page__price-value {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1;
}

.product-page__price-old .product-page__price-vat-info,
.product-page__price-current .product-page__price-vat-info {
  font-size: .875rem;
}


/* --- */

.product-page__discount {
  @extend .product-item__discount;
  font-size: 1.25rem;
  top: .5rem;
  right: .5rem;
}

.product-page__cart-button {
  @extend .btn;
  @extend .btn-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.product-page__cart-button-icon { @extend .product-item__cart-button-icon; }

.product-page__cart {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

// Product code
.product-page__code {
  display: inline-block;
  background-color: $panel-bg;
  color: mix($panel-bg, $body-color, 50%);
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: $border-radius;
  margin-bottom: 1rem;
}

// Layout
.product-page__row { @extend .row; }
.product-page__img-col  { @extend .col-lg-6; }
.product-page__info-col { @extend .col-lg-6; }

// Product image
.product-page__img-wrapper {
  position: relative;
  margin-bottom: 1rem;
  min-height: 10rem;
  max-width: 520px; // velikost nahledu v inPage
  margin-left: auto;
  margin-right: auto;
  @include media-breakpoint-up(lg) {
    min-height: calc(max(100%, 10rem));
    margin-left: 0;
  }
}

.product-page__img-link {
  display: block;
}

.product-page__img {
  @include media-breakpoint-down(lg) {
    display: block;
    margin: auto;
  }
}

// Product description
.product-page__title {
  font-size: 2rem;
}

.product-page__variants {
  margin-bottom: 1rem;
}

// Tabs
.product-page__tab-list {
  margin-top: 3rem;
}

@include media-breakpoint-down(md) {
  .product-page__tab-link {
    padding: .5rem .9rem;
  }
}

.product-page__description .section-dynamic[data-dynamic-type="folder"] {
  max-width: $line-width;
  margin-left: auto;
  margin-right: auto;
}
