.footer {
  margin-top: 3rem;
  @include media-breakpoint-up(sm) {
    margin-top: 6rem;
  }
}

.footer__heading {
  font-weight: $semi-bold;
  margin-bottom: .75em;
}

.footer__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1.5em;
}

.footer__list--social {
  display: flex;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 2.5em;
  height: 2.5em;
  text-decoration: none;
  border: 1px solid mix($panel-bg, $body-color, 75%);
  border-radius: 50%;
  margin: .25em;
  transition: .15s;
  &:hover {
    text-decoration: none;
    background-color: $primary;
    border-color: $primary;
    color: $body-bg;
    transition: .15s;
  }
}

.footer__social-icon {
  font-size: 1.5em;
}

.footer__icon {
  padding-right: .5em;
}

.footer__copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding-top: 1em;
  padding-bottom: 1em;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
    .footer__poweredby {
      margin-left: auto;
    }
    .footer__copy-text:after {
      content: "|";
      padding-left: .25rem;
      opacity: .6;
    }
  }
}