/* Mini cart (navbar)
  ====================================================================== */

.minicart {
  position: fixed;
  top: 5em;
  left: $container-padding-x;
  right: $container-padding-x;
  min-width: 0;
  background-color: $light-bg;
  padding: 1em;
  border: 1px solid mix($panel-bg, $body-color, 70%);
  box-shadow: 0 10px 40px -15px rgba(0, 0, 0, .2);
  border-radius: $border-radius;
  overflow-y: auto;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: .15s;
  &.expanded {
    visibility: visible;
    opacity: 1;
    top: 4.5em;
    transition: .15s;
  }
  @include media-breakpoint-up(sm) {
    position: absolute;
    top: 2.5em;
    right: 0;
    left: auto;
    min-width: 24em;
    &.expanded {
      top: 2em;
    }
  }
}


/* Empty Mini cart
  ====================================================================== */

.minicart__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12em;
}

.minicart__empty-icon {
  font-size: 2.5em;
  color: $primary;
  margin-bottom: .25em;
}


/* Mini cart with items
  ====================================================================== */

.minicart__item {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid mix($panel-bg, $body-color, 80%);
  &:not(:first-of-type) {
    padding-top: 1em;
  }
}

.minicart__item-img-wrapper {
  flex-shrink: 0;
  width: 3em;
  height: 3em;
  margin-right: 1em;
  @include media-breakpoint-up(sm) {
    width: 4em;
    height: 4em;
  }
}

.minicart__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.minicart__item-img-link {
  position: relative;
  display: block;
  height: 100%;
  .product-item__icon {
    font-size: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.minicart__item-info {
  flex-grow: 1;
}

.minicart__item-title {
  line-height: 1.25;
  margin-bottom: .5em;
}

.minicart__item-link {
  text-decoration: none;
}

.minicart__item-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.minicart__item-price {
  max-width: 36%;
}

.minicart__item-cancel {
  @extend %button-reset;
  display: inline-block;
  border-radius: .25em;
  color: $body-color;
  &:hover {
    color: $white;
    background-color: $red;
  }
}

.minicart__sum {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.minicart__buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: .5em;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}

// Checkout buttons
.minicart__button-close {
  @extend .btn;
  @extend .btn-outline-primary;
}

.minicart__button-cart {
  @extend .btn;
  @extend .btn-primary;
}