.motive { // .fullscreen | .parallax
  position: relative;
  width: 100vw;
  height: 35rem;
  max-height: 100vh;
  overflow: hidden;
  margin-top: 64px; // header height, dynamic calculation in js
  transition: margin .2s;
  // &::before {
  //   position: absolute;
  //   content: '';
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: transparent;
  //   backdrop-filter: blur(10px);
  // }
}

.motive.fullscreen {
  height: 100vh; // dynamic calculation in js
}

/* Vlastni motiv */
.custom-motive {
  height: auto;
}

.motive > .section-carousel {
  padding: 0;
}

/* Fullscreen nastaveni pro vlastni motiv - carousel - nepouzivat */
.motive:not(.fullscreen) > .section-carousel .carousel {
  max-height: 38rem;
}

.motive:not(.fullscreen) > .section-carousel .carousel-item img {
  max-height: 38rem;
  object-fit: cover;
}

.motive.fullscreen > .section-carousel {
  height: 100%;
  > .row {
    height: 100%;
    .carousel {
      height: 100%;
      .carousel-inner {
        height: 100%;
        .carousel-item {
          height: 100%;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}


/* Parallax
  ====================================================================== */

.motive__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $body-bg;
  // background: url("../img/motiv/pexels-pixabay-258112.jpg") no-repeat center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0; // opacity 1 in js
  transition: transform-origin .2s, opacity .2s .2s;
}

// .motive.parallax .splide {
//   @extend .motive__background;
//   transform: translateZ(-1px) scale(2);
//   transform-origin: center top;
// }

#main {
  position: relative;
  background-color: $body-bg;
  z-index: 2;
}


/* Motto
  ====================================================================== */

.motive__motto {
  position: relative;
  color: $white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  opacity: 0; // opacity 1 in js
  transition: opacity .2s .2s;
}

.motive__motto--left {
  @include media-breakpoint-up(sm) {
    justify-content: flex-start;
    text-align: left;
  }
}

.motive__motto--right {
  @include media-breakpoint-up(sm) {
    justify-content: flex-end;
    text-align: right;
  }
}

.motto__title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: .25em;
}

.motto__text {
  font-size: 1.5rem
}

.motive__motto {
  @extend .container;
}

.motto__button-link {
  @extend .btn;
  @extend .btn-primary;
  margin-top: 2rem;
}
