/* Navbar
  ====================================================================== */

.navbar {
  padding-left: $container-padding-x;
  padding-right: $container-padding-x;
    // Navbar items spacing
    > * {
      margin-left: .5em;
      margin-right: .5em;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }
}


/* Logo
  ====================================================================== */

.navbar__brand {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-height: 2.5rem; // Aby navbar neposkocil po nacteni loga
  @include media-breakpoint-up(xl) {
    min-height: 3rem;
  }
}

.navbar__brand-logo-img {
  image-rendering: -webkit-optimize-contrast; // Ostrejsi vykreslovani v Chrome a Safari
  max-width: 6rem;
  max-height: 2.5rem;
  @include media-breakpoint-up(sm) {
    max-width: 7rem;
  }
  @include media-breakpoint-up(xl) {
    max-width: 8rem;
    max-height: 3rem;
  }
}


/* Menu toggler
  ====================================================================== */

.navbar__toggler {
  position: relative;
  width: 1.75rem;
  height: 1.0625rem;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 10;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.navbar__toggler-icon-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: .125rem;
  border-radius: .125rem;
  background-color: $primary;
  transition: .3s;
  &:nth-of-type(1) {
    top: 0;
  }
  &:nth-of-type(2) {
    top: 50%;
    opacity: 1;
    transform: scale(1) translateY(-50%);
  }
  &:nth-of-type(3) {
    top: 100%;
    transform: translateY(-100%);
  }
}

.navbar__toggler.expanded {
  .navbar__toggler-icon-bar:nth-of-type(1) {
    top: 50%;
    transform: rotate(-135deg);
    transition: .3s;
  }
  .navbar__toggler-icon-bar:nth-of-type(2) {
    opacity: 0;
    transform: scale(0.5);
    transition: .3s;
  }
  .navbar__toggler-icon-bar:nth-of-type(3) {
    top: 50%;
    transform: rotate(135deg);
    transition: .3s;
  }
}

// Mobile menu
.navbar__menu {
  @include media-breakpoint-down(lg) {
    position: absolute !important; // important kvuli preview-mode
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: $body-bg;
    box-shadow: none;
    padding-top: 4rem;
    margin: 0;
    z-index: 10;
    overflow-y: auto;
    transition: .3s;
    &.expanded {
      left: 0;
      // box-shadow: 10px 0 40px -5px rgba(0, 0, 0, .3);
      transition: .3s;
    }
  }
}

// Menu
.navbar__menu-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.navbar__menu-item {
  position: relative;
  @include media-breakpoint-down(lg) {
    padding-left: 1rem;
  }
  &.active > .navbar__menu-link,
  &.active > .navbar__menu-link .navbar__menu-item .active {
    color: $primary;
  }
}

.navbar__menu-item .navbar__menu-item { // level2
  border-left: 1.5px solid transparent;
}

.navbar__menu-item.active .navbar__menu-item.active {
  border-color: $primary;
}

.navbar__menu-link {
  display: inline-block;
  text-decoration: none;
  color: $body-color;
  padding: .5em;
  margin-left: .5em;
  margin-right: .5em;
  &:hover {
    text-decoration: none;
  }
}

.navbar__menu-link[aria-expanded="true"] {
  .navbar__menu-caret {
    transform: rotate(180deg);
    transition: .15s;
  }
}

.navbar__menu-caret {
  margin-left: .5em;
  transform-origin: center;
  transform: rotate(0);
  transition: .15s;
}

button.navbar__menu-link {
  color: $body-color;
  background-color: transparent;
  border: none;
  @extend a;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.navbar__menu-item--has-childs {
  // Submenu
  .navbar__menu-list {
    position: absolute;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid mix($panel-bg, $body-color, 70%);
    border-radius: $border-radius;
    // background-color: $body-bg;
    background-color: $light-bg;
    box-shadow: 0 10px 40px -15px rgba(0, 0, 0, .2);
    min-width: 15em;
    z-index: 10;
    margin-top: .5em;
    opacity: 0;
    // transform: scale(.98);
    transition: .15s;
    @include media-breakpoint-up(lg) {
      max-height: calc(100vh - 200px);
    }
    // Mobile submenu
    @include media-breakpoint-down(lg) {
      position: relative;
      width: 100%;
      box-shadow: none;
      border: none;
      padding: 0;
      margin-top: 0;
      opacity: 1;
      visibility: initial;
      overflow: hidden;
      // display: none;
      height: 0;
      transition: 0s;
      &[aria-hidden="false"] {
        height: auto;
        transition: 0s;
        // display: block;
      }
    }
    // Submenu link
    .navbar__menu-link {
      display: block;
      padding: .5em 1.5em;
      margin: 0;
      @include media-breakpoint-down(lg) {
        padding-left: 2.5em;
      }
    }
  }
  // Submenu otevrene
  .navbar__menu-list[aria-hidden="false"] {
    margin-top: 0;
    opacity: 1;
    transition: .15s;
  }
}

// Search box
.navbar__search {
  @include media-breakpoint-down(lg) {
    position: absolute !important; // important kvuli preview-mode
    z-index: 15;
    background-color: $body-bg;
    width: 100%;
    left: 0;
    top: -4.5em;
    transition: .4s;
    &.expanded {
      top: .5em;
      transition: .3s;
    }
  }
}

.navbar__search-form {
  display: flex;
}

.navbar__search-close {
  @extend %button-reset;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.navbar__search-close-icon {
  color: $body-color;
  font-size: 1.25em;
}

.navbar__search-input {
  @extend .form-control;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid $input-border-color;
  border-right: 0;
  padding: .25em .5em;
  @include media-breakpoint-down(lg) {
    width: calc(100% - 5.75rem);
  }
}

.navbar__search-button {
  @extend .btn;
  @extend .btn-outline-primary;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid $input-border-color;
  border-left: 0;
  padding: .25em .5em;
  // background-color: transparent;
  // transition: .15s;
  // &:hover,
  // &:active {
    // background-color: $primary;
    // border-color: $primary;
    // color: $white;
    // transition: .15s;
  // }
}

.navbar__search-icon {
  font-size: 1.25em;
  padding-top: .15em;
  transform: scaleX(-1);
}

// Mobile search
.navbar__search-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  text-align: initial;
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.navbar__search-toggler-icon {
  color: $body-color;
  font-size: 1.375em;
  transform: scaleX(-1);
}

// Cart
.navbar__cart {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar__cart-button {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding-left: .25em;
  padding-right: .25em;
  min-height: 1.75em;
}

.navbar__cart-icon {
  font-size: 1.375em;
  color: $body-color;
}

.navbar__cart-items {
  position: absolute;
  right: -.4em;
  top: 0;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7em;
  font-weight: bold;
  color: $body-bg;
  background-color: $primary;
  border-radius: 50%;
}

.navbar__cart-price {
  display: none;
  @include media-breakpoint-up(lg) {
    display: flex;
    padding-left: .65em;
  }
}

// User account
.navbar__account {
  position: relative;
}

.navbar__account-button {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding-left: .25em;
  padding-right: .25em;
  min-height: 1.75em;
}

.navbar__account-icon {
  font-size: 1.375em;
  color: $body-color;
}

/* Breadcrumbs
  ====================================================================== */

.breadcrumb {
  padding-left: $container-padding-x;
  padding-right: $container-padding-x;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  background-color: $body-bg;
}

.breadcrumb__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  /* na jeden radek */
  display: block;
  overflow-x: auto;
  // text-overflow: ellipsis; // nefunguje na mobilu
  white-space: nowrap;
}

.breadcrumb__item {
  padding-left: .5em;
  &:first-child {
    padding-left: 0;
  }
  + .breadcrumb__item::before {
    content: "/";
    color: $text-muted;
    padding-right: .5em;
  }
  /* na jeden radek */
  display: inline;
}

.breadcrumb__link {
  text-decoration: none;
}

.breadcrumb__current {
  color: $text-muted;
}


/* Pagination
  ====================================================================== */

.pagination__list {
  @extend .pagination;
  justify-content: center;
  margin: auto;
}

.pagination__page-item { @extend .page-item; }
.pagination__page-link {
  @extend .page-link;
  background-color: $light-bg;
  border: $light-mode-only-border;
}

.pagination__page-item.active .page-link,
.pagination__page-item.active .pagination__page-link,
.page-item.active .page-link,
.page-item.active .pagination__page-link {
  color: $body-bg;
}

.pagination__page-item.disabled .page-link,
.pagination__page-item.disabled .pagination__page-link,
.page-item.disabled .page-link,
.page-item.disabled .pagination__page-link {
  background-color: $light-bg;
  border: $light-mode-only-border;
  color: $text-muted;
}

.page-link:hover,
.pagination__page-link:hover {
  background-color: mix($panel-bg, $body-color, 90%);
}

.page-link:focus,
.pagination__page-link:focus {
  background-color: mix($panel-bg, $body-color, 85%);
}