/* Mapa webu
  ====================================================================== */

.sitemap {
  max-width: $line-width;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 2rem;
  background-color: $panel-bg;
  border-radius: $border-radius;
}

.sitemap > .sitemap__item {
  font-weight: bold;
}

.sitemap__item .sitemap__item {
  font-weight: normal;
}

