/* Dark mode colors */

// $panel-bg:               #343a40;     // CUSTOM VARIABLE ($gray-800)
$panel-bg:             #2e3338;
$light-bg:               $panel-bg;   // CUSTOM VARIABLE (gray bg in dark mode, white in light mode)
$light-mode-only-border: transparent; // CUSTOM VARIABLE (border only in light mode)

$green:      #5ddb74;
$red:        #ff6666;
// $body-bg:    #212529; // = Bootstrap variable $gray-900
$body-bg:    #1e2124;
// $body-color: #dee2e6; // = Bootstrap variable $gray-300
$body-color: #dcdde0;
// $text-muted: #adb5bd; // = Bootstrap variable $gray-500
$text-muted: #98a1a9;
$code-color: #ff8ac4;

$form-check-input-checked-color:    $body-bg;
$input-border-color:                mix($panel-bg, $body-color, 80%);
$input-bg:                          $body-bg;
$link-hover-color:                  mix($primary, #fff, 65%);
$table-striped-bg:                  rgba($body-color, .08);
$table-border-color:                #495057;
$nav-tabs-border-color:             #6c757d;
$nav-tabs-link-hover-border-color:  transparent transparent $nav-tabs-border-color;
$nav-tabs-link-active-border-color: #6c757d #6c757d $body-bg;
$table-group-separator-color:       $text-muted;