img {
  max-width: 100%; // kvuli pretekani
  height: auto; // kvuli pevnym rozmerum, ktere dava Tiny
}

// #page-wrapper,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 85px; // fixed header offset
  @include media-breakpoint-up(lg) {
    scroll-padding-top: 100px;
  }
}

p:empty { // kvuli Tiny (section breaks apod.)
  margin-bottom: 0;
}