/* I. Custom variables
  ====================================================================== */

/**
 * PRIMARY COLOR variations
 * Contrast ratio at least 4.5:1 on body background (WCAG AA compliant)
*/

// 0. Black & White
$theme-light-black: #212529;
$theme-dark-white:  #fff;

// 1. Light mode colors
$theme-light-red:    #c90a0a;
$theme-light-orange: #be5404;
$theme-light-olive:  #627500;
$theme-light-green:  #127604;
$theme-light-blue:   #074eb3;
$theme-light-violet: #6e14a6;
$theme-light-purple: #a31480;

// 2. Pastel colors
$theme-pale-red:    #996666;
$theme-pale-brown:  #8a705c;
$theme-pale-olive:  #717750;
$theme-pale-green:  #567d54;
$theme-pale-blue:   #627393;
$theme-pale-violet: #87699b;
$theme-pale-purple: #966489;

// 3. Dark mode colors
$theme-dark-orange: #f8cf7c;
$theme-dark-limet:  #cbda81;
$theme-dark-green:  #a5d897;
$theme-dark-cyan:   #8ce3c9;
$theme-dark-blue:   #9ce0f2;
$theme-dark-violet: #cfc5ed;
$theme-dark-purple: #ecc1e1;

// Other colors
$body-color: #212529 !default; // = Bootstrap variable $gray-900
$panel-bg: #f8f9fa !default; // = Bootstrap variable $gray-100
$light-bg: #fff !default;
$light-mode-only-border: 1px solid mix($panel-bg, $body-color, 80%) !default;


/**
 * TYPOGRAPHY
 * $font-size-fluid = responsive font size (e.g. for better article legibility)
 * $line-width = limit the line width to have the optimal number of characters (for better legibility)
*/

$font-size-fluid: calc(.12vw + 1rem);
$line-width: 50rem;

$semi-bold: 600; // font-weight due to difference between FF and Chrome 



/* II. Overriding Bootstrap default variables
  ====================================================================== */

// Colors
$green:  #19872d;
$yellow: #ffd105;
$red:    #dc3535;

// LIGHT MODE Default color
$primary: $theme-light-blue;

// Shadows
$box-shadow: 0 3px 5px -5px rgba(0, 0, 0, .5);

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 3;

// Spacing
$headings-margin-bottom: .5em; // default: $spacer / 2
$input-btn-padding-y: .5em;    // default: .375rem
$input-btn-padding-x: 1.25em;  // default: .75rem

// Links
$link-decoration: none;
$link-hover-decoration: underline;


/**
 * DARK MODE colors
 * Comment to switch off dark mode
*/

// $panel-bg:               #343a40;     // CUSTOM VARIABLE ($gray-800)
// $light-bg:               $panel-bg;   // CUSTOM VARIABLE (gray bg in dark mode, white in light mode)
// $light-mode-only-border: transparent; // CUSTOM VARIABLE (border only in light mode)

// $green:      #5ddb74;
// $red:        #ff6666;
// $body-bg:    #212529; // = Bootstrap variable $gray-900
// $body-color: #dee2e6; // = Bootstrap variable $gray-300
// $text-muted: #adb5bd; // = Bootstrap variable $gray-500
// $code-color: #ff8ac4;

// $primary:                           $theme-dark-cyan; // = THEME COLOR
// $form-check-input-checked-color:    $body-bg;
// $input-border-color:                mix($panel-bg, $body-color, 80%);
// $input-bg:                          $body-bg;
// $link-hover-color:                  mix($primary, #fff, 65%);
// $table-striped-bg:                  rgba($body-color, .08);
// $table-border-color:                #495057;
// $nav-tabs-border-color:             #6c757d;
// $nav-tabs-link-hover-border-color:  transparent transparent $nav-tabs-border-color;
// $nav-tabs-link-active-border-color: #6c757d #6c757d $body-bg;
// $table-group-separator-color:       #adb5bd;
